/* Basscss Basic */

* {
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Helvetica,
    sans-serif;
  line-height: 1.5;
  margin: 0;
  color: #000;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

a {
  color: #0077FF;
}

h1, h2, h3,
h4, h5, h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

h1 { font-size: 32px; font-size: 2rem }

h2 { font-size: 24px; font-size: 1.5rem }

h3 { font-size: 20px; font-size: 1.25rem }

h4 { font-size: 16px; font-size: 1rem }

h5 { font-size: 14px; font-size: .875rem }

h6 { font-size: 12px; font-size: .75rem }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre,
samp {
  font-family:
    'Roboto Mono',
    'Source Code Pro',
    Menlo,
    Consolas,
    'Liberation Mono',
    monospace;
}

code, samp {
  font-size: 87.5%;
  padding: .125em;
}

pre {
  font-size: 87.5%;
  overflow: scroll;
}

blockquote {
  font-size: 20px;
  font-size: 1.25rem;
  font-style: italic;
  margin-left: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

label {
  font-size: 14px;
  font-size: .875rem;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  margin-bottom: .5rem;
}

input {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  padding: 8px;
  padding: .5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

select {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  padding: 8px;
  padding: .5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 8px;
  padding: .5rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.btn{
  font-size: inherit;
}

:root {

  /* Base size */

  /* Modifiers */


  /* Declarations */

}

/* Size */

.size-0{font-size: 64px;font-size: 4rem;}

.size-1{font-size: 48px;font-size: 3rem;}

.size-2{font-size: 32px;font-size: 2rem;}

.size-3{font-size: 24px;font-size: 1.5rem;}

.size-4{font-size: 18px;font-size: 1.125rem;}

.size-5{font-size: 16px;font-size: 1rem;}

.size-6{font-size: 14px;font-size: 0.875rem;}

.size-7{font-size: 12px;font-size: 0.75rem;}

.size-8{font-size: 10px;font-size: 0.625rem;}

.size-9{font-size: 8px;font-size: 0.5rem;}

.size-10{font-size: 4px;font-size: 0.25rem;}

.size-auto{ font-size: inherit;}

/* Font Weight */

.thin{ font-weight: 100;}

.extra-light{ font-weight: 200;}

.light{ font-weight: 300;}

.normal{ font-weight: 400;}

.medium{ font-weight: 500;}

.semi-bold{ font-weight: 600;}

.bold{ font-weight: 700;}

.extra-bold{ font-weight: 800;}

.heavy{ font-weight: 900;}

.lighter{font-weight: lighter;}

/* lighter than parent element*/

.bolder{font-weight: bolder;}

/* bolder than parent element*/

/* list reset */

.list-reset {list-style: none; padding-left: 0;}

/*link reset*/

.link-reset{text-decoration: none;}

:root {

  /* Base size */

  /* Modifiers */

}

/* Letter Spacing */

[class~="spacing-5"]{letter-spacing: -0.15em;}

[class~='spacing-4']{letter-spacing: -0.125em;}

[class~='spacing-3']{letter-spacing: -0.1em;}

[class~='spacing-2']{letter-spacing: -0.05em;}

[class~='spacing-1']{letter-spacing: -0.025em;}

[class~='spacing-0']{letter-spacing: 0em;}

[class~='spacing+1']{letter-spacing: 0.125em;}

[class~='spacing+2']{letter-spacing: 0.25em;}

[class~='spacing+3']{letter-spacing: 0.5em;}

[class~='spacing+4']{letter-spacing: 1em;}

[class~='spacing+5']{letter-spacing: 2em;}

.spacing-auto{ letter-spacing: inherit;}

/* legacy syntax to support previous versions of framework */

.ls0{letter-spacing: 0;}

.ls1{letter-spacing: 0.1em;}

.ls2{letter-spacing: 0.2em;}

/*line height*/

.lh0{line-height: 0;}

.lh1{line-height: 1;}

.lh2{line-height: 1.5;}

.lh3{line-height: 2;}

.lh4{line-height: 3;}

/* font style */

.italic{font-style: italic;}

/* text transform */

.caps{text-transform: uppercase;}

/* font variant */

.small-caps{-webkit-font-feature-settings: "c2sc";font-feature-settings: "c2sc";font-variant: small-caps;}

/* text decoration */

.underline{text-decoration: underline;}

.line-through{text-decoration: line-through;}

/* text align */

.align-left{text-align: left;}

.center{text-align: center;}

.align-right{text-align: right;}

.justify{text-align: justify;}

/* white space */

.nowrap {white-space: nowrap;}

/* truncate */

.truncate { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* text-shadow */

.text-shadow {text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);}

/* blockquote */

.blockquote {quotes: "“" "”" "‘" "’";}

.blockquote:before { content: open-quote;}

.blockquote:after { content: close-quote;}

.blockquote::before, .blockquote::after { color: currentColor; font-size: 1.5em; line-height: inherit; opacity: .5; margin: 0 .25em;}

/* Flex */

.flex { display: -webkit-box; display: -ms-flexbox; display: flex;}

.flex-column  {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}

.flex-wrap    {-ms-flex-wrap: wrap;flex-wrap: wrap;}

.align-center   {-webkit-box-align: center;-ms-flex-align: center;align-items: center;}

.align-baseline {-webkit-box-align: baseline;-ms-flex-align: baseline;align-items: baseline;}

.align-stretch  {-webkit-box-align: stretch;-ms-flex-align: stretch;align-items: stretch;}

.align-start    {-webkit-box-align: start;-ms-flex-align: start;align-items: flex-start;}

.align-end      {-webkit-box-align: end;-ms-flex-align: end;align-items: flex-end;}

.align-justify  {-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}

.order-first { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1;}

.order-last  {-webkit-box-ordinal-group: 1025;-ms-flex-order: 1024;order: 1024;}

.flex-auto {-webkit-box-flex: 1;-ms-flex: 1 1 auto;flex: 1 1 auto;}

.flex-grow {-webkit-box-flex: 1;-ms-flex: 1 0 auto;flex: 1 0 auto;}

.flex-none {-webkit-box-flex: 0;-ms-flex: none;flex: none;}

.flex > div { box-sizing: border-box }

@media (min-width: 40em) {
  .sm-flex { display: -webkit-box; display: -ms-flexbox; display: flex;}
  .sm-flex > div { box-sizing: border-box }
}

@media (min-width: 52em) {
  .md-flex { display: -webkit-box; display: -ms-flexbox; display: flex;}
  .md-flex > div { box-sizing: border-box }
}

@media (min-width: 64em) {
  .lg-flex { display: -webkit-box; display: -ms-flexbox; display: flex }
  .lg-flex > div { box-sizing: border-box;}
}

/* Grid */

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}

.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

@media (min-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }

}

@media (min-width: 52em) {

  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }

}

@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }

}

/*

A CSS layout mode, sometimes abbreviated as layout, is an algorithm determining the position and the size of boxes based on the way they interact with their sibling and ancestor boxes. There are several of them:

  -  The block layout, designed for laying out documents. The block layout contains document-centric features, like the ability to float elements or to lay them out over multiple columns.
  -  The inline layout, designed for laying out text.
  -  The table layout, designed for laying out tables.
  -  The positioned layout, designed for positioning elements without much interaction with other elements.
  -  The flexible box layout, designed for laying out complex pages that can be resized smoothly.
  -  The grid layout, designed for laying out elements relative to a fixed grid.


*/

/* The block layout */

.inline       { display: inline }

.block        { display: block;}

.inline-block { display: inline-block }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}

.clearfix:after { clear: both }

.left  { float: left }

.right { float: right }

.z1 { z-index: 1 ;}

.z2 { z-index: 2 ;}

.z3 { z-index: 3 ;}

.z4 { z-index: 4 ;}

.z-1{z-index: -1;}

.z-max{z-index: 10001;}

.relative { position: relative ;}

.absolute { position: absolute ;}

.fixed    { position: fixed ;}

.top-0    { top: 0 ;}

.right-0  { right: 0 ;}

.bottom-0 { bottom: 0 ;}

.left-0   { left: 0 ;}

.right-1{ right: 16px; right: 1rem;}

.bottom-1{ bottom: 16px; bottom: 1rem;}

.sm-show, .md-show, .lg-show {
  display: none !important
}

@media (min-width: 40em) {
  .sm-show { display: block !important }
}

@media (min-width: 52em) {
  .md-show { display: block !important }
}

@media (min-width: 64em) {
  .lg-show { display: block !important }
}

@media (min-width: 40em) {
  .sm-hide { display: none !important }
}

@media (min-width: 52em) {
  .md-hide { display: none !important }
}

@media (min-width: 64em) {
  .lg-hide { display: none !important }
}

.display-none { display: none !important }

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* aspect ratio blocks */

.ratio-16-9 { width: 100%; padding-bottom: 56.25%; /* 16:9 */ position: relative; }

.ratio-16-9 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ratio-16-10 { width: 100%; padding-bottom: 62.5%; /* 16:10 */ position: relative; }

.ratio-16-10 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ratio-4-3 { width: 100%; padding-bottom: 75%; /* 4:3 */ position: relative; }

.ratio-4-3 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ratio-1-1 { width: 100%; padding-bottom: 100%; /* 1:1 */ position: relative; }

.ratio-1-1 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ratio-2-3 { width: 100%; padding-bottom: 150%; /* 10:15 */ position: relative; }

.ratio-2-3 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

.ratio-3-2 { width: 100%; padding-bottom: 66%; /* 1:1 */ position: relative; }

.ratio-3-2 > div { position: absolute; top: 0; bottom: 0; left: 0; right: 0; }

/* fixed size blocks */

.square1{ width: 16px; width: 1rem; height: 16px; height: 1rem;}

.square1-5{ width: 24px; width: 1.5rem; height: 24px; height: 1.5rem;}

.square2{ width: 32px; width: 2rem; height: 32px; height: 2rem;}

.square2-5{ width: 40px; width: 2.5rem; height: 40px; height: 2.5rem;}

.square3{ width: 48px; width: 3rem; height: 48px; height: 3rem;}

.square3-5{ width: 56px; width: 3.5rem; height: 56px; height: 3.5rem;}

.square4{ width: 64px; width: 4rem; height: 64px; height: 4rem;}

.square5{ width: 80px; width: 5rem; height: 80px; height: 5rem;}

.square6{ width: 96px; width: 6rem; height: 96px; height: 6rem;}

.square10{height: 160px;height: 10rem; width: 160px; width: 10rem;}

.square12-5{height: 200px;height: 12.5rem; width: 200px; width: 12.5rem;}

.square15{height: 240px;height: 15rem; width: 240px; width: 15rem;}

.square20{height: 320px;height: 20rem; width: 320px; width: 20rem;}

/* box with applied animated drop shadow on hover */

.box {
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.box::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover { }

.box:hover::after { opacity: 1; }

/* Margins */

.m0  { margin:        0 }

.mt0 { margin-top:    0 }

.mr0 { margin-right:  0 }

.mb0 { margin-bottom: 0 }

.ml0 { margin-left:   0 }

.mx0 { margin-left:   0; margin-right:  0 }

.my0 { margin-top:    0; margin-bottom: 0 }

.m1  { margin: 8px; margin: .5rem }

.mt1 { margin-top: 8px; margin-top: .5rem }

.mr1 { margin-right: 8px; margin-right: .5rem }

.mb1 { margin-bottom: 8px; margin-bottom: .5rem }

.ml1 { margin-left: 8px; margin-left: .5rem }

.mx1 { margin-left: 8px; margin-left: .5rem; margin-right: 8px; margin-right: .5rem }

.my1 { margin-top: 8px; margin-top: .5rem; margin-bottom: 8px; margin-bottom: .5rem }

.m2  { margin: 16px; margin: 1rem }

.mt2 { margin-top: 16px; margin-top: 1rem }

.mr2 { margin-right: 16px; margin-right: 1rem }

.mb2 { margin-bottom: 16px; margin-bottom: 1rem }

.ml2 { margin-left: 16px; margin-left: 1rem }

.mx2 { margin-left: 16px; margin-left: 1rem; margin-right: 16px; margin-right: 1rem }

.my2 { margin-top: 16px; margin-top: 1rem; margin-bottom: 16px; margin-bottom: 1rem }

.m3  { margin: 32px; margin: 2rem }

.mt3 { margin-top: 32px; margin-top: 2rem }

.mr3 { margin-right: 32px; margin-right: 2rem }

.mb3 { margin-bottom: 32px; margin-bottom: 2rem }

.ml3 { margin-left: 32px; margin-left: 2rem }

.mx3 { margin-left: 32px; margin-left: 2rem; margin-right: 32px; margin-right: 2rem }

.my3 { margin-top: 32px; margin-top: 2rem; margin-bottom: 32px; margin-bottom: 2rem }

.m4  { margin: 64px; margin: 4rem }

.mt4 { margin-top: 64px; margin-top: 4rem }

.mr4 { margin-right: 64px; margin-right: 4rem }

.mb4 { margin-bottom: 64px; margin-bottom: 4rem }

.ml4 { margin-left: 64px; margin-left: 4rem }

.mx4 { margin-left: 64px; margin-left: 4rem; margin-right: 64px; margin-right: 4rem }

.my4 { margin-top: 64px; margin-top: 4rem; margin-bottom: 64px; margin-bottom: 4rem }

.mxn1 { margin-left: -8px; margin-left: -.5rem; margin-right: -8px; margin-right: -.5rem; }

.mxn2 { margin-left: -16px; margin-left: -1rem; margin-right: -16px; margin-right: -1rem; }

.mxn3 { margin-left: -32px; margin-left: -2rem; margin-right: -32px; margin-right: -2rem; }

.mxn4 { margin-left: -64px; margin-left: -4rem; margin-right: -64px; margin-right: -4rem; }

.ml-auto { margin-left: auto }

.mr-auto { margin-right: auto }

.mx-auto { margin-left: auto; margin-right: auto; }

/*
Borders

*/

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,.125);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,.125);
}

.rounded { border-radius: 3px }

.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }

.rounded-right  { border-radius: 0 3px 3px 0 }

.rounded-bottom { border-radius: 0 0 3px 3px }

.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }

.border-1{ border-width: 4px; border-width: 0.25rem; border-style: solid;}

.border-1.border-bottom{border-width: 0; border-bottom-width: 4px; border-bottom-width: 0.25rem;}

.border-1.border-top{border-width: 0; border-top-width: 4px; border-top-width: 0.25rem;}

.border-1.border-left{border-width: 0; border-left-width: 4px; border-left-width: 0.25rem;}

.border-1.border-right{border-width: 0; border-right-width: 4px; border-right-width: 0.25rem;}

.border-2{ border-width: 8px; border-width: .5rem; border-style: solid;}

.border-2.border-bottom{border-width: 0; border-bottom-width: 8px; border-bottom-width: .5rem;}

.border-2.border-top{border-width: 0; border-top-width: 8px; border-top-width: .5rem;}

.border-2.border-left{border-width: 0; border-left-width: 8px; border-left-width: .5rem;}

.border-2.border-right{border-width: 0; border-right-width: 8px; border-right-width: .5rem;}

.border-3{ border-width: 16px; border-width: 1rem; border-style: solid;}

.border-3.border-bottom{border-width: 0; border-bottom-width: 16px; border-bottom-width: 1rem;}

.border-3.border-top{border-width: 0; border-top-width: 16px; border-top-width: 1rem;}

.border-3.border-left{border-width: 0; border-left-width: 16px; border-left-width: 1rem;}

.border-3.border-right{border-width: 0; border-right-width: 16px; border-right-width: 1rem;}

.border-4{ border-width: 32px; border-width: 2rem; border-style: solid;}

.border-4.border-bottom{border-width: 0; border-bottom-width: 32px; border-bottom-width: 2rem;}

.border-4.border-top{border-width: 0; border-top-width: 32px; border-top-width: 2rem;}

.border-4.border-left{border-width: 0; border-left-width: 32px; border-left-width: 2rem;}

.border-4.border-right{border-width: 0; border-right-width: 32px; border-right-width: 2rem;}

/*.border-radius-15{ border-radius: var(--border-radius-15)}
.border-radius-50{ border-radius: var(--border-radius-50)}*/

.border-inherit{border-color: currentColor;}

.border-none{ border: none;}

.border.border-dashed.muted{background-color: aliceblue;}

.border.border-dashed{ border-style: dashed;}

.border-left.border-dashed{ border-left-style: dashed;}

.border-right.border-dashed{ border-right-style: dashed;}

.border-bottom.border-dashed{ border-bottom-style: dashed;}

.border-top.border-dashed{ border-top-style: dashed;}

/* Padding */

.p0  { padding: 0 }

.pt0 { padding-top: 0 }

.pr0 { padding-right: 0 }

.pb0 { padding-bottom: 0 }

.pl0 { padding-left: 0 }

.px0 { padding-left: 0; padding-right:  0 }

.py0 { padding-top: 0;  padding-bottom: 0 }

.p1  { padding: 8px; padding: .5rem }

.pt1 { padding-top: 8px; padding-top: .5rem }

.pr1 { padding-right: 8px; padding-right: .5rem }

.pb1 { padding-bottom: 8px; padding-bottom: .5rem }

.pl1 { padding-left: 8px; padding-left: .5rem }

.py1 { padding-top: 8px; padding-top: .5rem; padding-bottom: 8px; padding-bottom: .5rem }

.px1 { padding-left: 8px; padding-left: .5rem; padding-right: 8px; padding-right: .5rem }

.p2  { padding: 16px; padding: 1rem }

.pt2 { padding-top: 16px; padding-top: 1rem }

.pr2 { padding-right: 16px; padding-right: 1rem }

.pb2 { padding-bottom: 16px; padding-bottom: 1rem }

.pl2 { padding-left: 16px; padding-left: 1rem }

.py2 { padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem }

.px2 { padding-left: 16px; padding-left: 1rem; padding-right: 16px; padding-right: 1rem }

.p3  { padding: 32px; padding: 2rem }

.pt3 { padding-top: 32px; padding-top: 2rem }

.pr3 { padding-right: 32px; padding-right: 2rem }

.pb3 { padding-bottom: 32px; padding-bottom: 2rem }

.pl3 { padding-left: 32px; padding-left: 2rem }

.py3 { padding-top: 32px; padding-top: 2rem; padding-bottom: 32px; padding-bottom: 2rem }

.px3 { padding-left: 32px; padding-left: 2rem; padding-right: 32px; padding-right: 2rem }

.p4  { padding: 64px; padding: 4rem }

.pt4 { padding-top: 64px; padding-top: 4rem }

.pr4 { padding-right: 64px; padding-right: 4rem }

.pb4 { padding-bottom: 64px; padding-bottom: 4rem }

.pl4 { padding-left: 64px; padding-left: 4rem }

.py4 { padding-top: 64px; padding-top: 4rem; padding-bottom: 64px; padding-bottom: 4rem }

.px4 { padding-left: 64px; padding-left: 4rem; padding-right: 64px; padding-right: 4rem }

/* box-shadow */

.box-shadow-1 { box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.48);}

.box-shadow-2 { box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.32);}

.box-shadow-3{  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.1)inset, 0 -2px 0px rgba(0, 0, 0, 0.13)inset;}

.lift-1{box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.52);}

.box-inset { box-shadow:inset 0px 0px 6px rgba(0, 0, 0, 0.48);}

/* overflow related */

.overflow-hidden { overflow: hidden;}

.overflow-scroll { overflow: scroll;}

.overflow-auto   { overflow: auto;}

.overflow-y      { overflow-y: auto;}

/* max-width related */

.fit { max-width: 100%;}

/* width related */

.half-width { width: 50%;}

.full-width { width: 100%;}

/* max-height related */

.max-h, .maxh100{max-height: 100%;}

.maxh50{ max-height:50vh;}

.maxh100vh{ max-height: 100vh;}

/* min-height related */

.minh50{ min-height:50vh;}

.minh66{ min-height:66vh;}

.minh100{ min-height: 100vh;}

.min-vh-auto{min-height: auto;}

.min-vh-1{min-height:25vh;}

.min-vh-2{min-height:33vh;}

.min-vh-3{min-height:50vh;}

.min-vh-4{min-height:66vh;}

.min-vh-5{min-height:75vh;}

.min-vh-6{min-height:100vh;}

/* height related */

.h20{ height: 320px; height: 20rem;}

.h100{ height: 100%;}

.h50{ height: 50%;}

.h50vh{ height: 50vh;}

/* box-sizing related */

.border-box{box-sizing: border-box;}

.content-box{box-sizing: content-box;}

/*
Box model properties
  box-shadow
  box-sizing
  height
  margin
  overflow
  padding
  visibility
  width
 */

:root {
/* Modifiers */
}

:root {

/* Yellow */

/* Green */

/* Teal */

/* Blue */

/* Purple */

/* Magenta */

/* Red */

/* Orange */

/* Gray */

}

/*------------------------------------*\
COLORS
\*------------------------------------*/

/* Yellow */

.yellow {color: #fed700;}

.bg-yellow {background-color: #fed700;}

.border-yellow {border-color: #fed700;}

.yellow-1 {color: rgb(255, 247, 204);}

.bg-yellow-1 {background-color: rgb(255, 247, 204);}

.border-yellow-1 {border-color: rgb(255, 247, 204);}

.yellow-2 {color: rgb(255, 239, 153);}

.bg-yellow-2 {background-color: rgb(255, 239, 153);}

.border-yellow-2 {border-color: rgb(255, 239, 153);}

.yellow-3 {color: rgb(254, 231, 102);}

.bg-yellow-3 {background-color: rgb(254, 231, 102);}

.border-yellow-3 {border-color: rgb(254, 231, 102);}

.yellow-4 {color: rgb(254, 223, 51);}

.bg-yellow-4 {background-color: rgb(254, 223, 51);}

.border-yellow-4 {border-color: rgb(254, 223, 51);}

.yellow-5 {color: rgb(254, 215, 0);}

.bg-yellow-5 {background-color: rgb(254, 215, 0);}

.border-yellow-5 {border-color: rgb(254, 215, 0);}

.yellow-6 {color: rgb(203, 172, 0);}

.bg-yellow-6 {background-color: rgb(203, 172, 0);}

.border-yellow-6 {border-color: rgb(203, 172, 0);}

.yellow-7 {color: rgb(152, 129, 0);}

.bg-yellow-7 {background-color: rgb(152, 129, 0);}

.border-yellow-7 {border-color: rgb(152, 129, 0);}

.yellow-8 {color: rgb(102, 86, 0);}

.bg-yellow-8 {background-color: rgb(102, 86, 0);}

.border-yellow-8 {border-color: rgb(102, 86, 0);}

.yellow-9 {color: rgb(51, 43, 0);}

.bg-yellow-9 {background-color: rgb(51, 43, 0);}

.border-yellow-9 {border-color: rgb(51, 43, 0);}

/* green */

.green {color: #8ad400;}

.bg-green {background-color: #8ad400;}

.border-green {border-color: #8ad400;}

.green-1 {color: rgb(232, 246, 204);}

.bg-green-1 {background-color: rgb(232, 246, 204);}

.border-green-1 {border-color: rgb(232, 246, 204);}

.green-2 {color: rgb(208, 238, 153);}

.bg-green-2 {background-color: rgb(208, 238, 153);}

.border-green-2 {border-color: rgb(208, 238, 153);}

.green-3 {color: rgb(185, 229, 102);}

.bg-green-3 {background-color: rgb(185, 229, 102);}

.border-green-3 {border-color: rgb(185, 229, 102);}

.green-4 {color: rgb(161, 221, 51);}

.bg-green-4 {background-color: rgb(161, 221, 51);}

.border-green-4 {border-color: rgb(161, 221, 51);}

.green-5 {color: rgb(138, 212, 0);}

.bg-green-5 {background-color: rgb(138, 212, 0);}

.border-green-5 {border-color: rgb(138, 212, 0);}

.green-6 {color: rgb(110, 170, 0);}

.bg-green-6 {background-color: rgb(110, 170, 0);}

.border-green-6 {border-color: rgb(110, 170, 0);}

.green-7 {color: rgb(83, 127, 0);}

.bg-green-7 {background-color: rgb(83, 127, 0);}

.border-green-7 {border-color: rgb(83, 127, 0);}

.green-8 {color: rgb(55, 85, 0);}

.bg-green-8 {background-color: rgb(55, 85, 0);}

.border-green-8 {border-color: rgb(55, 85, 0);}

.green-9 {color: rgb(28, 42, 0);}

.bg-green-9 {background-color: rgb(28, 42, 0);}

.border-green-9 {border-color: rgb(28, 42, 0);}

/* teal */

.teal {color: #00b4a0;}

.bg-teal {background-color: #00b4a0;}

.border-teal {border-color: #00b4a0;}

.teal-1 {color: rgb(204, 240, 236);}

.bg-teal-1 {background-color: rgb(204, 240, 236);}

.border-teal-1 {border-color: rgb(204, 240, 236);}

.teal-2 {color: rgb(153, 225, 217);}

.bg-teal-2 {background-color: rgb(153, 225, 217);}

.border-teal-2 {border-color: rgb(153, 225, 217);}

.teal-3 {color: rgb(102, 210, 198);}

.bg-teal-3 {background-color: rgb(102, 210, 198);}

.border-teal-3 {border-color: rgb(102, 210, 198);}

.teal-4 {color: rgb(51, 195, 179);}

.bg-teal-4 {background-color: rgb(51, 195, 179);}

.border-teal-4 {border-color: rgb(51, 195, 179);}

.teal-5 {color: rgb(0, 180, 160);}

.bg-teal-5 {background-color: rgb(0, 180, 160);}

.border-teal-5 {border-color: rgb(0, 180, 160);}

.teal-6 {color: rgb(0, 144, 128);}

.bg-teal-6 {background-color: rgb(0, 144, 128);}

.border-teal-6 {border-color: rgb(0, 144, 128);}

.teal-7 {color: rgb(0, 108, 96);}

.bg-teal-7 {background-color: rgb(0, 108, 96);}

.border-teal-7 {border-color: rgb(0, 108, 96);}

.teal-8 {color: rgb(0, 72, 64);}

.bg-teal-8 {background-color: rgb(0, 72, 64);}

.border-teal-8 {border-color: rgb(0, 72, 64);}

.teal-9 {color: rgb(0, 36, 32);}

.bg-teal-9 {background-color: rgb(0, 36, 32);}

.border-teal-9 {border-color: rgb(0, 36, 32);}

/* blue */

.blue {color: #0077FF;}

.bg-blue {background-color: #0077FF;}

.border-blue {border-color: #0077FF;}

.blue-1 {color: rgb(204, 228, 255);}

.bg-blue-1 {background-color: rgb(204, 228, 255);}

.border-blue-1 {border-color: rgb(204, 228, 255);}

.blue-2 {color: rgb(153, 201, 255);}

.bg-blue-2 {background-color: rgb(153, 201, 255);}

.border-blue-2 {border-color: rgb(153, 201, 255);}

.blue-3 {color: rgb(102, 173, 255);}

.bg-blue-3 {background-color: rgb(102, 173, 255);}

.border-blue-3 {border-color: rgb(102, 173, 255);}

.blue-4 {color: rgb(51, 146, 255);}

.bg-blue-4 {background-color: rgb(51, 146, 255);}

.border-blue-4 {border-color: rgb(51, 146, 255);}

.blue-5 {color: rgb(0, 119, 255);}

.bg-blue-5 {background-color: rgb(0, 119, 255);}

.border-blue-5 {border-color: rgb(0, 119, 255);}

.blue-6 {color: rgb(0, 95, 204);}

.bg-blue-6 {background-color: rgb(0, 95, 204);}

.border-blue-6 {border-color: rgb(0, 95, 204);}

.blue-7 {color: rgb(0, 71, 153);}

.bg-blue-7 {background-color: rgb(0, 71, 153);}

.border-blue-7 {border-color: rgb(0, 71, 153);}

.blue-8 {color: rgb(0, 48, 102);}

.bg-blue-8 {background-color: rgb(0, 48, 102);}

.border-blue-8 {border-color: rgb(0, 48, 102);}

.blue-9 {color: rgb(0, 24, 51);}

.bg-blue-9 {background-color: rgb(0, 24, 51);}

.border-blue-9 {border-color: rgb(0, 24, 51);}

/* purple */

.purple {color: #994fd7;}

.bg-purple {background-color: #994fd7;}

.border-purple {border-color: #994fd7;}

.purple-1 {color: rgb(235, 220, 247);}

.bg-purple-1 {background-color: rgb(235, 220, 247);}

.border-purple-1 {border-color: rgb(235, 220, 247);}

.purple-2 {color: rgb(214, 185, 239);}

.bg-purple-2 {background-color: rgb(214, 185, 239);}

.border-purple-2 {border-color: rgb(214, 185, 239);}

.purple-3 {color: rgb(194, 149, 231);}

.bg-purple-3 {background-color: rgb(194, 149, 231);}

.border-purple-3 {border-color: rgb(194, 149, 231);}

.purple-4 {color: rgb(173, 114, 223);}

.bg-purple-4 {background-color: rgb(173, 114, 223);}

.border-purple-4 {border-color: rgb(173, 114, 223);}

.purple-5 {color: rgb(153, 79, 215);}

.bg-purple-5 {background-color: rgb(153, 79, 215);}

.border-purple-5 {border-color: rgb(153, 79, 215);}

.purple-6 {color: rgb(122, 63, 172);}

.bg-purple-6 {background-color: rgb(122, 63, 172);}

.border-purple-6 {border-color: rgb(122, 63, 172);}

.purple-7 {color: rgb(92, 47, 129);}

.bg-purple-7 {background-color: rgb(92, 47, 129);}

.border-purple-7 {border-color: rgb(92, 47, 129);}

.purple-8 {color: rgb(61, 32, 86);}

.bg-purple-8 {background-color: rgb(61, 32, 86);}

.border-purple-8 {border-color: rgb(61, 32, 86);}

.purple-9 {color: rgb(31, 16, 43);}

.bg-purple-9 {background-color: rgb(31, 16, 43);}

.border-purple-9 {border-color: rgb(31, 16, 43);}

/* magenta */

.magenta {color: #ff35a0;}

.bg-magenta {background-color: #ff35a0;}

.border-magenta {border-color: #ff35a0;}

.magenta-1 {color: rgb(255, 215, 236);}

.bg-magenta-1 {background-color: rgb(255, 215, 236);}

.border-magenta-1 {border-color: rgb(255, 215, 236);}

.magenta-2 {color: rgb(255, 174, 217);}

.bg-magenta-2 {background-color: rgb(255, 174, 217);}

.border-magenta-2 {border-color: rgb(255, 174, 217);}

.magenta-3 {color: rgb(255, 134, 198);}

.bg-magenta-3 {background-color: rgb(255, 134, 198);}

.border-magenta-3 {border-color: rgb(255, 134, 198);}

.magenta-4 {color: rgb(255, 93, 179);}

.bg-magenta-4 {background-color: rgb(255, 93, 179);}

.border-magenta-4 {border-color: rgb(255, 93, 179);}

.magenta-5 {color: rgb(255, 53, 160);}

.bg-magenta-5 {background-color: rgb(255, 53, 160);}

.border-magenta-5 {border-color: rgb(255, 53, 160);}

.magenta-6 {color: rgb(204, 42, 128);}

.bg-magenta-6 {background-color: rgb(204, 42, 128);}

.border-magenta-6 {border-color: rgb(204, 42, 128);}

.magenta-7 {color: rgb(153, 32, 96);}

.bg-magenta-7 {background-color: rgb(153, 32, 96);}

.border-magenta-7 {border-color: rgb(153, 32, 96);}

.magenta-8 {color: rgb(102, 21, 64);}

.bg-magenta-8 {background-color: rgb(102, 21, 64);}

.border-magenta-8 {border-color: rgb(102, 21, 64);}

.magenta-9 {color: rgb(51, 11, 32);}

.bg-magenta-9 {background-color: rgb(51, 11, 32);}

.border-magenta-9 {border-color: rgb(51, 11, 32);}

/* red */

.red {color: #e9222b;}

.bg-red {background-color: #e9222b;}

.border-red {border-color: #e9222b;}

.red-1 {color: rgb(251, 211, 213);}

.bg-red-1 {background-color: rgb(251, 211, 213);}

.border-red-1 {border-color: rgb(251, 211, 213);}

.red-2 {color: rgb(246, 167, 170);}

.bg-red-2 {background-color: rgb(246, 167, 170);}

.border-red-2 {border-color: rgb(246, 167, 170);}

.red-3 {color: rgb(242, 122, 128);}

.bg-red-3 {background-color: rgb(242, 122, 128);}

.border-red-3 {border-color: rgb(242, 122, 128);}

.red-4 {color: rgb(237, 78, 85);}

.bg-red-4 {background-color: rgb(237, 78, 85);}

.border-red-4 {border-color: rgb(237, 78, 85);}

.red-5 {color: rgb(233, 34, 43);}

.bg-red-5 {background-color: rgb(233, 34, 43);}

.border-red-5 {border-color: rgb(233, 34, 43);}

.red-6 {color: rgb(186, 27, 34);}

.bg-red-6 {background-color: rgb(186, 27, 34);}

.border-red-6 {border-color: rgb(186, 27, 34);}

.red-7 {color: rgb(140, 20, 26);}

.bg-red-7 {background-color: rgb(140, 20, 26);}

.border-red-7 {border-color: rgb(140, 20, 26);}

.red-8 {color: rgb(93, 14, 17);}

.bg-red-8 {background-color: rgb(93, 14, 17);}

.border-red-8 {border-color: rgb(93, 14, 17);}

.red-9 {color: rgb(47, 7, 9);}

.bg-red-9 {background-color: rgb(47, 7, 9);}

.border-red-9 {border-color: rgb(47, 7, 9);}

/* orange */

.orange {color: #ff7822;}

.bg-orange {background-color: #ff7822;}

.border-orange {border-color: #ff7822;}

.orange-1 {color: rgb(255, 228, 211);}

.bg-orange-1 {background-color: rgb(255, 228, 211);}

.border-orange-1 {border-color: rgb(255, 228, 211);}

.orange-2 {color: rgb(255, 201, 167);}

.bg-orange-2 {background-color: rgb(255, 201, 167);}

.border-orange-2 {border-color: rgb(255, 201, 167);}

.orange-3 {color: rgb(255, 174, 122);}

.bg-orange-3 {background-color: rgb(255, 174, 122);}

.border-orange-3 {border-color: rgb(255, 174, 122);}

.orange-4 {color: rgb(255, 147, 78);}

.bg-orange-4 {background-color: rgb(255, 147, 78);}

.border-orange-4 {border-color: rgb(255, 147, 78);}

.orange-5 {color: rgb(255, 120, 34);}

.bg-orange-5 {background-color: rgb(255, 120, 34);}

.border-orange-5 {border-color: rgb(255, 120, 34);}

.orange-6 {color: rgb(204, 96, 27);}

.bg-orange-6 {background-color: rgb(204, 96, 27);}

.border-orange-6 {border-color: rgb(204, 96, 27);}

.orange-7 {color: rgb(153, 72, 20);}

.bg-orange-7 {background-color: rgb(153, 72, 20);}

.border-orange-7 {border-color: rgb(153, 72, 20);}

.orange-8 {color: rgb(102, 48, 14);}

.bg-orange-8 {background-color: rgb(102, 48, 14);}

.border-orange-8 {border-color: rgb(102, 48, 14);}

.orange-9 {color: rgb(51, 24, 7);}

.bg-orange-9 {background-color: rgb(51, 24, 7);}

.border-orange-9 {border-color: rgb(51, 24, 7);}

/* gray */

.gray {color: #808080;}

.bg-gray {background-color: #808080;}

.border-gray {border-color: #808080;}

.gray-1 {color: rgb(230, 230, 230);}

.bg-gray-1 {background-color: rgb(230, 230, 230);}

.border-gray-1 {border-color: rgb(230, 230, 230);}

.gray-2 {color: rgb(204, 204, 204);}

.bg-gray-2 {background-color: rgb(204, 204, 204);}

.border-gray-2 {border-color: rgb(204, 204, 204);}

.gray-3 {color: rgb(179, 179, 179);}

.bg-gray-3 {background-color: rgb(179, 179, 179);}

.border-gray-3 {border-color: rgb(179, 179, 179);}

.gray-4 {color: rgb(153, 153, 153);}

.bg-gray-4 {background-color: rgb(153, 153, 153);}

.border-gray-4 {border-color: rgb(153, 153, 153);}

.gray-5 {color: rgb(128, 128, 128);}

.bg-gray-5 {background-color: rgb(128, 128, 128);}

.border-gray-5 {border-color: rgb(128, 128, 128);}

.gray-6 {color: rgb(102, 102, 102);}

.bg-gray-6 {background-color: rgb(102, 102, 102);}

.border-gray-6 {border-color: rgb(102, 102, 102);}

.gray-7 {color: rgb(77, 77, 77);}

.bg-gray-7 {background-color: rgb(77, 77, 77);}

.border-gray-7 {border-color: rgb(77, 77, 77);}

.gray-8 {color: rgb(51, 51, 51);}

.bg-gray-8 {background-color: rgb(51, 51, 51);}

.border-gray-8 {border-color: rgb(51, 51, 51);}

.gray-9 {color: rgb(26, 26, 26);}

.bg-gray-9 {background-color: rgb(26, 26, 26);}

.border-gray-9 {border-color: rgb(26, 26, 26);}

.black, .yellow-10, .green-10, .teal-10, .blue-10, .purple-10, .magenta-10, .red-10, .orange-10, .gray-10 {color: #000000;}

.bg-black, .bg-yellow-10, .bg-green-10, .bg-teal-10, .bg-blue-10, .bg-purple-10, .bg-magenta-10, .bg-red-10, .bg-orange-10, .bg-gray-10 {background-color: #000000;}

.border-black, .border-yellow-10, .border-green-10, .border-teal-10, .border-blue-10, .border-purple-10, .border-magenta-10, .border-red-10, .border-orange-10, .border-gray-10 {border-color: #000000;}

.white, .yellow-0, .green-0, .teal-0, .blue-0, .purple-0, .magenta-0, .red-0, .orange-0, .gray-0 {color: #ffffff;}

.bg-white, .bg-yellow-0, .bg-green-0, .bg-teal-0, .bg-blue-0, .bg-purple-0, .bg-magenta-0, .bg-red-0, .bg-orange-0, .bg-gray-0 {background-color: #ffffff;}

.border-white,.border-yellow-0, .border-green-0, .border-teal-0, .border-blue-0, .border-purple-0, .border-magenta-0, .border-red-0, .border-orange-0, .border-gray-0 {border-color: #ffffff;}

.color-inherit{color: inherit;}

.bg-color-inherit{background-color: inherit;}

.border-color-inherit{border-color: inherit;}

.bg-inherit{background-color: inherit;}

/*------------------------------------*\
COLORS
\*------------------------------------*/

/* Yellow */

.link-yellow a{color: #fed700;}

.link-yellow-1 a{color: rgb(255, 247, 204);}

.link-yellow-2 a{color: rgb(255, 239, 153);}

.link-yellow-3 a{color: rgb(254, 231, 102);}

.link-yellow-4 a{color: rgb(254, 223, 51);}

.link-yellow-5 a{color: rgb(254, 215, 0);}

.link-yellow-6 a{color: rgb(203, 172, 0);}

.link-yellow-7 a{color: rgb(152, 129, 0);}

.link-yellow-8 a{color: rgb(102, 86, 0);}

.link-yellow-9 a{color: rgb(51, 43, 0);}

/* Green */

.link-green a{color: #8ad400;}

.link-green-1 a{color: rgb(232, 246, 204);}

.link-green-2 a{color: rgb(208, 238, 153);}

.link-green-3 a{color: rgb(185, 229, 102);}

.link-green-4 a{color: rgb(161, 221, 51);}

.link-green-5 a{color: rgb(138, 212, 0);}

.link-green-6 a{color: rgb(110, 170, 0);}

.link-green-7 a{color: rgb(83, 127, 0);}

.link-green-8 a{color: rgb(55, 85, 0);}

.link-green-9 a{color: rgb(28, 42, 0);}

/* Teal */

.link-teal a{color: #00b4a0;}

.link-teal-1 a{color: rgb(204, 240, 236);}

.link-teal-2 a{color: rgb(153, 225, 217);}

.link-teal-3 a{color: rgb(102, 210, 198);}

.link-teal-4 a{color: rgb(51, 195, 179);}

.link-teal-5 a{color: rgb(0, 180, 160);}

.link-teal-6 a{color: rgb(0, 144, 128);}

.link-teal-7 a{color: rgb(0, 108, 96);}

.link-teal-8 a{color: rgb(0, 72, 64);}

.link-teal-9 a{color: rgb(0, 36, 32);}

/* Blue */

.link-blue a{color: #0077FF;}

.link-blue-1 a{color: rgb(204, 228, 255);}

.link-blue-2 a{color: rgb(153, 201, 255);}

.link-blue-3 a{color: rgb(102, 173, 255);}

.link-blue-4 a{color: rgb(51, 146, 255);}

.link-blue-5 a{color: rgb(0, 119, 255);}

.link-blue-6 a{color: rgb(0, 95, 204);}

.link-blue-7 a{color: rgb(0, 71, 153);}

.link-blue-8 a{color: rgb(0, 48, 102);}

.link-blue-9 a{color: rgb(0, 24, 51);}

/* Purple */

.link-purple a{color: #994fd7;}

.link-purple-1 a{color: rgb(235, 220, 247);}

.link-purple-2 a{color: rgb(214, 185, 239);}

.link-purple-3 a{color: rgb(194, 149, 231);}

.link-purple-4 a{color: rgb(173, 114, 223);}

.link-purple-5 a{color: rgb(153, 79, 215);}

.link-purple-6 a{color: rgb(122, 63, 172);}

.link-purple-7 a{color: rgb(92, 47, 129);}

.link-purple-8 a{color: rgb(61, 32, 86);}

.link-purple-9 a{color: rgb(31, 16, 43);}

/* Magenta */

.link-magenta a{color: #ff35a0;}

.link-magenta-1 a{color: rgb(255, 215, 236);}

.link-magenta-2 a{color: rgb(255, 174, 217);}

.link-magenta-3 a{color: rgb(255, 134, 198);}

.link-magenta-4 a{color: rgb(255, 93, 179);}

.link-magenta-5 a{color: rgb(255, 53, 160);}

.link-magenta-6 a{color: rgb(204, 42, 128);}

.link-magenta-7 a{color: rgb(153, 32, 96);}

.link-magenta-8 a{color: rgb(102, 21, 64);}

.link-magenta-9 a{color: rgb(51, 11, 32);}

/* Red */

.link-red a{color: #e9222b;}

.link-red-1 a{color: rgb(251, 211, 213);}

.link-red-2 a{color: rgb(246, 167, 170);}

.link-red-3 a{color: rgb(242, 122, 128);}

.link-red-4 a{color: rgb(237, 78, 85);}

.link-red-5 a{color: rgb(233, 34, 43);}

.link-red-6 a{color: rgb(186, 27, 34);}

.link-red-7 a{color: rgb(140, 20, 26);}

.link-red-8 a{color: rgb(93, 14, 17);}

.link-red-9 a{color: rgb(47, 7, 9);}

/* Orange */

.link-orange a{color: #ff7822;}

.link-orange-1 a{color: rgb(255, 228, 211);}

.link-orange-2 a{color: rgb(255, 201, 167);}

.link-orange-3 a{color: rgb(255, 174, 122);}

.link-orange-4 a{color: rgb(255, 147, 78);}

.link-orange-5 a{color: rgb(255, 120, 34);}

.link-orange-6 a{color: rgb(204, 96, 27);}

.link-orange-7 a{color: rgb(153, 72, 20);}

.link-orange-8 a{color: rgb(102, 48, 14);}

.link-orange-9 a{color: rgb(51, 24, 7);}

/* Gray */

.link-gray a{color: #808080;}

.link-gray-1 a{color: rgb(230, 230, 230);}

.link-gray-2 a{color: rgb(204, 204, 204);}

.link-gray-3 a{color: rgb(179, 179, 179);}

.link-gray-4 a{color: rgb(153, 153, 153);}

.link-gray-5 a{color: rgb(128, 128, 128);}

.link-gray-6 a{color: rgb(102, 102, 102);}

.link-gray-7 a{color: rgb(77, 77, 77);}

.link-gray-8 a{color: rgb(51, 51, 51);}

.link-gray-9 a{color: rgb(26, 26, 26);}

/* Black */

.link-yellow-10 a,
.link-green-10 a,
.link-teal-10 a,
.link-blue-10 a,
.link-purple-10 a,
.link-magenta-10 a,
.link-red-10 a,
.link-orange-10 a,
.link-gray-10 a {color: #000000;}

/* White */

.link-yellow-0 a,
.link-green-0 a,
.link-teal-0 a,
.link-blue-0 a,
.link-purple-0 a,
.link-magenta-0 a,
.link-red-0 a,
.link-orange-0 a,
.link-gray-0 a {color: #ffffff;}

.darken-1{color: rgba(0, 0, 0, 0.12);}

.darken-2{color: rgba(0, 0, 0, 0.25);}

.darken-3{color: rgba(0, 0, 0, 0.5);}

.darken-4{color: rgba(0, 0, 0, 0.75);}

.bg-darken-1{background: rgba(0, 0, 0, 0.12);}

.bg-darken-2{background: rgba(0, 0, 0, 0.25);}

.bg-darken-3{background: rgba(0, 0, 0, 0.5);}

.bg-darken-4{background: rgba(0, 0, 0, 0.75);}

.border-darken-1{border-color: rgba(0, 0, 0, 0.12);}

.border-darken-2{border-color: rgba(0, 0, 0, 0.25);}

.border-darken-3{border-color: rgba(0, 0, 0, 0.5);}

.border-darken-4{border-color: rgba(0, 0, 0, 0.75);}

.lighten-1{color: rgba(255, 255, 255, 0.12);}

.lighten-2{color: rgba(255, 255, 255, 0.25);}

.lighten-3{color: rgba(255, 255, 255, 0.5);}

.lighten-4{color: rgba(255, 255, 255, 0.75);}

.bg-lighten-1{background: rgba(255, 255, 255, 0.12);}

.bg-lighten-2{background: rgba(255, 255, 255, 0.25);}

.bg-lighten-3{background: rgba(255, 255, 255, 0.5);}

.bg-lighten-4{background: rgba(255, 255, 255, 0.75);}

.border-lighten-1{border-color: rgba(255, 255, 255, 0.12);}

.border-lighten-2{border-color: rgba(255, 255, 255, 0.25);}

.border-lighten-3{border-color: rgba(255, 255, 255, 0.5);}

.border-lighten-4{border-color: rgba(255, 255, 255, 0.75);}

.translucent-dark{background: rgba(51, 51, 51, 0.97);}

.translucent{background: rgba(255, 255, 255, 0.97);}

.fader-black{background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 66%, rgba(0, 0, 0, 0.75) 90%, rgba(0, 0, 0, 0.95) 100%);background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 66%, rgba(0, 0, 0, 0.75) 90%, rgba(0, 0, 0, 0.95) 100%); opacity: 1;}

.fader-white{background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 66%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.95) 100%);background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 66%, rgba(255, 255, 255, 0.75) 90%, rgba(255, 255, 255, 0.95) 100%); opacity: 1;}

.fader-black-nxs{background: -webkit-linear-gradient(top,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 10%,
  rgba(0, 0, 0, 0) 25%,
  rgba(0, 0, 0, 0) 50%,
  rgba(0, 0, 0, 0.2) 75%,
  rgba(0, 0, 0, 0.4) 90%,
  rgba(0, 0, 0, 0.8) 100%);background: linear-gradient(180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.4) 10%,
  rgba(0, 0, 0, 0) 25%,
  rgba(0, 0, 0, 0) 50%,
  rgba(0, 0, 0, 0.2) 75%,
  rgba(0, 0, 0, 0.4) 90%,
  rgba(0, 0, 0, 0.8) 100%);
  opacity: 1;}

.fader-white-nxs{background: -webkit-linear-gradient(top,
  rgba(255, 255, 255, 0.7) 0%,
  rgba(255, 255, 255, 0.4) 10%,
  rgba(255, 255, 255, 0) 25%,
  rgba(255, 255, 255, 0) 50%,
  rgba(255, 255, 255, 0.2) 75%,
  rgba(255, 255, 255, 0.4) 90%,
  rgba(255, 255, 255, 0.8) 100%);background: linear-gradient(180deg,
  rgba(255, 255, 255, 0.7) 0%,
  rgba(255, 255, 255, 0.4) 10%,
  rgba(255, 255, 255, 0) 25%,
  rgba(255, 255, 255, 0) 50%,
  rgba(255, 255, 255, 0.2) 75%,
  rgba(255, 255, 255, 0.4) 90%,
  rgba(255, 255, 255, 0.8) 100%);
  opacity: 1;}

:root {

/* Base Colors */
}
