:root {
/* Modifiers */
--tint-1: tint(10%);
--tint-2: tint(25%);
--tint-3: tint(50%);
--tint-4: tint(75%);
--tint-5: tint(90%);

--shade-1: shade(10%);
--shade-2: shade(25%);
--shade-3: shade(50%);
--shade-4: shade(75%);
--shade-5: shade(90%);
}
