/*------------------------------------*\
COLORS
\*------------------------------------*/

/* Yellow */

.hover-yellow:hover {color: var(--yellow0);}
.hover-bg-yellow:hover {background-color: var(--yellow0);}
.hover-border-yellow:hover {border-color: var(--yellow0);}

.hover-yellow-1:hover {color: var(--yellow-1);}
.hover-bg-yellow-1:hover {background-color: var(--yellow-1);}
.hover-border-yellow-1:hover {border-color: var(--yellow-1);}

.hover-yellow-2:hover {color: var(--yellow-2);}
.hover-bg-yellow-2:hover {background-color: var(--yellow-2);}
.hover-border-yellow-2:hover {border-color: var(--yellow-2);}

.hover-yellow-3:hover {color: var(--yellow-3);}
.hover-bg-yellow-3:hover {background-color: var(--yellow-3);}
.hover-border-yellow-3:hover {border-color: var(--yellow-3);}

.hover-yellow-4:hover {color: var(--yellow-4);}
.hover-bg-yellow-4:hover {background-color: var(--yellow-4);}
.hover-border-yellow-4:hover {border-color: var(--yellow-4);}

.hover-yellow-5:hover {color: var(--yellow-5);}
.hover-bg-yellow-5:hover {background-color: var(--yellow-5);}
.hover-border-yellow-5:hover {border-color: var(--yellow-5);}

.hover-yellow1:hover {color: var(--yellow1);}
.hover-bg-yellow1:hover {background-color: var(--yellow1);}
.hover-border-yellow1:hover {border-color: var(--yellow1);}

.hover-yellow2:hover {color: var(--yellow2);}
.hover-bg-yellow2:hover {background-color: var(--yellow2);}
.hover-border-yellow2:hover {border-color: var(--yellow2);}

.hover-yellow3:hover {color: var(--yellow3);}
.hover-bg-yellow3:hover {background-color: var(--yellow3);}
.hover-border-yellow3:hover {border-color: var(--yellow3);}

.hover-yellow4:hover {color: var(--yellow4);}
.hover-bg-yellow4:hover {background-color: var(--yellow4);}
.hover-border-yellow4:hover {border-color: var(--yellow4);}

.hover-yellow5:hover {color: var(--yellow5);}
.hover-bg-yellow5:hover {background-color: var(--yellow5);}
.hover-border-yellow5:hover {border-color: var(--yellow5);}

/* green */

.hover-green:hover {color: var(--green0);}
.hover-bg-green:hover {background-color: var(--green0);}
.hover-border-green:hover {border-color: var(--green0);}

.hover-green-1:hover {color: var(--green-1);}
.hover-bg-green-1:hover {background-color: var(--green-1);}
.hover-border-green-1:hover {border-color: var(--green-1);}

.hover-green-2:hover {color: var(--green-2);}
.hover-bg-green-2:hover {background-color: var(--green-2);}
.hover-border-green-2:hover {border-color: var(--green-2);}

.hover-green-3:hover {color: var(--green-3);}
.hover-bg-green-3:hover {background-color: var(--green-3);}
.hover-border-green-3:hover {border-color: var(--green-3);}

.hover-green-4:hover {color: var(--green-4);}
.hover-bg-green-4:hover {background-color: var(--green-4);}
.hover-border-green-4:hover {border-color: var(--green-4);}

.hover-green-5:hover {color: var(--green-5);}
.hover-bg-green-5:hover {background-color: var(--green-5);}
.hover-border-green-5:hover {border-color: var(--green-5);}

.hover-green1:hover {color: var(--green1);}
.hover-bg-green1:hover {background-color: var(--green1);}
.hover-border-green1:hover {border-color: var(--green1);}

.hover-green2:hover {color: var(--green2);}
.hover-bg-green2:hover {background-color: var(--green2);}
.hover-border-green2:hover {border-color: var(--green2);}

.hover-green3:hover {color: var(--green3);}
.hover-bg-green3:hover {background-color: var(--green3);}
.hover-border-green3:hover {border-color: var(--green3);}

.hover-green4:hover {color: var(--green4);}
.hover-bg-green4:hover {background-color: var(--green4);}
.hover-border-green4:hover {border-color: var(--green4);}

.hover-green5:hover {color: var(--green5);}
.hover-bg-green5:hover {background-color: var(--green5);}
.hover-border-green5:hover {border-color: var(--green5);}

/* teal */

.hover-teal:hover {color: var(--teal0);}
.hover-bg-teal:hover {background-color: var(--teal0);}
.hover-border-teal:hover {border-color: var(--teal0);}

.hover-teal-1:hover {color: var(--teal-1);}
.hover-bg-teal-1:hover {background-color: var(--teal-1);}
.hover-border-teal-1:hover {border-color: var(--teal-1);}

.hover-teal-2:hover {color: var(--teal-2);}
.hover-bg-teal-2:hover {background-color: var(--teal-2);}
.hover-border-teal-2:hover {border-color: var(--teal-2);}

.hover-teal-3:hover {color: var(--teal-3);}
.hover-bg-teal-3:hover {background-color: var(--teal-3);}
.hover-border-teal-3:hover {border-color: var(--teal-3);}

.hover-teal-4:hover {color: var(--teal-4);}
.hover-bg-teal-4:hover {background-color: var(--teal-4);}
.hover-border-teal-4:hover {border-color: var(--teal-4);}

.hover-teal-5:hover {color: var(--teal-5);}
.hover-bg-teal-5:hover {background-color: var(--teal-5);}
.hover-border-teal-5:hover {border-color: var(--teal-5);}

.hover-teal1:hover {color: var(--teal1);}
.hover-bg-teal1:hover {background-color: var(--teal1);}
.hover-border-teal1:hover {border-color: var(--teal1);}

.hover-teal2:hover {color: var(--teal2);}
.hover-bg-teal2:hover {background-color: var(--teal2);}
.hover-border-teal2:hover {border-color: var(--teal2);}

.hover-teal3:hover {color: var(--teal3);}
.hover-bg-teal3:hover {background-color: var(--teal3);}
.hover-border-teal3:hover {border-color: var(--teal3);}

.hover-teal4:hover {color: var(--teal4);}
.hover-bg-teal4:hover {background-color: var(--teal4);}
.hover-border-teal4:hover {border-color: var(--teal4);}

.hover-teal5:hover {color: var(--teal5);}
.hover-bg-teal5:hover {background-color: var(--teal5);}
.hover-border-teal5:hover {border-color: var(--teal5);}

/* blue */

.hover-blue:hover {color: var(--blue0);}
.hover-bg-blue:hover {background-color: var(--blue0);}
.hover-border-blue:hover {border-color: var(--blue0);}

.hover-blue-1:hover {color: var(--blue-1);}
.hover-bg-blue-1:hover {background-color: var(--blue-1);}
.hover-border-blue-1:hover {border-color: var(--blue-1);}

.hover-blue-2:hover {color: var(--blue-2);}
.hover-bg-blue-2:hover {background-color: var(--blue-2);}
.hover-border-blue-2:hover {border-color: var(--blue-2);}

.hover-blue-3:hover {color: var(--blue-3);}
.hover-bg-blue-3:hover {background-color: var(--blue-3);}
.hover-border-blue-3:hover {border-color: var(--blue-3);}

.hover-blue-4:hover {color: var(--blue-4);}
.hover-bg-blue-4:hover {background-color: var(--blue-4);}
.hover-border-blue-4:hover {border-color: var(--blue-4);}

.hover-blue-5:hover {color: var(--blue-5);}
.hover-bg-blue-5:hover {background-color: var(--blue-5);}
.hover-border-blue-5:hover {border-color: var(--blue-5);}

.hover-blue1:hover {color: var(--blue1);}
.hover-bg-blue1:hover {background-color: var(--blue1);}
.hover-border-blue1:hover {border-color: var(--blue1);}

.hover-blue2:hover {color: var(--blue2);}
.hover-bg-blue2:hover {background-color: var(--blue2);}
.hover-border-blue2:hover {border-color: var(--blue2);}

.hover-blue3:hover {color: var(--blue3);}
.hover-bg-blue3:hover {background-color: var(--blue3);}
.hover-border-blue3:hover {border-color: var(--blue3);}

.hover-blue4:hover {color: var(--blue4);}
.hover-bg-blue4:hover {background-color: var(--blue4);}
.hover-border-blue4:hover {border-color: var(--blue4);}

.hover-blue5:hover {color: var(--blue5);}
.hover-bg-blue5:hover {background-color: var(--blue5);}
.hover-border-blue5:hover {border-color: var(--blue5);}



/* purple */
.hover-purple:hover {color: var(--purple0);}
.hover-bg-purple:hover {background-color: var(--purple0);}
.hover-border-purple:hover {border-color: var(--purple0);}

.hover-purple-1:hover {color: var(--purple-1);}
.hover-bg-purple-1:hover {background-color: var(--purple-1);}
.hover-border-purple-1:hover {border-color: var(--purple-1);}

.hover-purple-2:hover {color: var(--purple-2);}
.hover-bg-purple-2:hover {background-color: var(--purple-2);}
.hover-border-purple-2:hover {border-color: var(--purple-2);}

.hover-purple-3:hover {color: var(--purple-3);}
.hover-bg-purple-3:hover {background-color: var(--purple-3);}
.hover-border-purple-3:hover {border-color: var(--purple-3);}

.hover-purple-4:hover {color: var(--purple-4);}
.hover-bg-purple-4:hover {background-color: var(--purple-4);}
.hover-border-purple-4:hover {border-color: var(--purple-4);}

.hover-purple-5:hover {color: var(--purple-5);}
.hover-bg-purple-5:hover {background-color: var(--purple-5);}
.hover-border-purple-5:hover {border-color: var(--purple-5);}

.hover-purple1:hover {color: var(--purple1);}
.hover-bg-purple1:hover {background-color: var(--purple1);}
.hover-border-purple1:hover {border-color: var(--purple1);}

.hover-purple2:hover {color: var(--purple2);}
.hover-bg-purple2:hover {background-color: var(--purple2);}
.hover-border-purple2:hover {border-color: var(--purple2);}

.hover-purple3:hover {color: var(--purple3);}
.hover-bg-purple3:hover {background-color: var(--purple3);}
.hover-border-purple3:hover {border-color: var(--purple3);}

.hover-purple4:hover {color: var(--purple4);}
.hover-bg-purple4:hover {background-color: var(--purple4);}
.hover-border-purple4:hover {border-color: var(--purple4);}

.hover-purple5:hover {color: var(--purple5);}
.hover-bg-purple5:hover {background-color: var(--purple5);}
.hover-border-purple5:hover {border-color: var(--purple5);}



/* magenta */

.hover-magenta:hover {color: var(--magenta0);}
.hover-bg-magenta:hover {background-color: var(--magenta0);}
.hover-border-magenta:hover {border-color: var(--magenta0);}

.hover-magenta-1:hover {color: var(--magenta-1);}
.hover-bg-magenta-1:hover {background-color: var(--magenta-1);}
.hover-border-magenta-1:hover {border-color: var(--magenta-1);}

.hover-magenta-2:hover {color: var(--magenta-2);}
.hover-bg-magenta-2:hover {background-color: var(--magenta-2);}
.hover-border-magenta-2:hover {border-color: var(--magenta-2);}

.hover-magenta-3:hover {color: var(--magenta-3);}
.hover-bg-magenta-3:hover {background-color: var(--magenta-3);}
.hover-border-magenta-3:hover {border-color: var(--magenta-3);}

.hover-magenta-4:hover {color: var(--magenta-4);}
.hover-bg-magenta-4:hover {background-color: var(--magenta-4);}
.hover-border-magenta-4:hover {border-color: var(--magenta-4);}

.hover-magenta-5:hover {color: var(--magenta-5);}
.hover-bg-magenta-5:hover {background-color: var(--magenta-5);}
.hover-border-magenta-5:hover {border-color: var(--magenta-5);}

.hover-magenta1:hover {color: var(--magenta1);}
.hover-bg-magenta1:hover {background-color: var(--magenta1);}
.hover-border-magenta1:hover {border-color: var(--magenta1);}

.hover-magenta2:hover {color: var(--magenta2);}
.hover-bg-magenta2:hover {background-color: var(--magenta2);}
.hover-border-magenta2:hover {border-color: var(--magenta2);}

.hover-magenta3:hover {color: var(--magenta3);}
.hover-bg-magenta3:hover {background-color: var(--magenta3);}
.hover-border-magenta3:hover {border-color: var(--magenta3);}

.hover-magenta4:hover {color: var(--magenta4);}
.hover-bg-magenta4:hover {background-color: var(--magenta4);}
.hover-border-magenta4:hover {border-color: var(--magenta4);}

.hover-magenta5:hover {color: var(--magenta5);}
.hover-bg-magenta5:hover {background-color: var(--magenta5);}
.hover-border-magenta5:hover {border-color: var(--magenta5);}


/* red */

.hover-red:hover {color: var(--red0);}
.hover-bg-red:hover {background-color: var(--red0);}
.hover-border-red:hover {border-color: var(--red0);}

.hover-red-1:hover {color: var(--red-1);}
.hover-bg-red-1:hover {background-color: var(--red-1);}
.hover-border-red-1:hover {border-color: var(--red-1);}

.hover-red-2:hover {color: var(--red-2);}
.hover-bg-red-2:hover {background-color: var(--red-2);}
.hover-border-red-2:hover {border-color: var(--red-2);}

.hover-red-3:hover {color: var(--red-3);}
.hover-bg-red-3:hover {background-color: var(--red-3);}
.hover-border-red-3:hover {border-color: var(--red-3);}

.hover-red-4:hover {color: var(--red-4);}
.hover-bg-red-4:hover {background-color: var(--red-4);}
.hover-border-red-4:hover {border-color: var(--red-4);}

.hover-red-5:hover {color: var(--red-5);}
.hover-bg-red-5:hover {background-color: var(--red-5);}
.hover-border-red-5:hover {border-color: var(--red-5);}

.hover-red1:hover {color: var(--red1);}
.hover-bg-red1:hover {background-color: var(--red1);}
.hover-border-red1:hover {border-color: var(--red1);}

.hover-red2:hover {color: var(--red2);}
.hover-bg-red2:hover {background-color: var(--red2);}
.hover-border-red2:hover {border-color: var(--red2);}

.hover-red3:hover {color: var(--red3);}
.hover-bg-red3:hover {background-color: var(--red3);}
.hover-border-red3:hover {border-color: var(--red3);}

.hover-red4:hover {color: var(--red4);}
.hover-bg-red4:hover {background-color: var(--red4);}
.hover-border-red4:hover {border-color: var(--red4);}

.hover-red5:hover {color: var(--red5);}
.hover-bg-red5:hover {background-color: var(--red5);}
.hover-border-red5:hover {border-color: var(--red5);}



/* orange */

.hover-orange:hover {color: var(--orange0);}
.hover-bg-orange:hover {background-color: var(--orange0);}
.hover-border-orange:hover {border-color: var(--orange0);}

.hover-orange-1:hover {color: var(--orange-1);}
.hover-bg-orange-1:hover {background-color: var(--orange-1);}
.hover-border-orange-1:hover {border-color: var(--orange-1);}

.hover-orange-2:hover {color: var(--orange-2);}
.hover-bg-orange-2:hover {background-color: var(--orange-2);}
.hover-border-orange-2:hover {border-color: var(--orange-2);}

.hover-orange-3:hover {color: var(--orange-3);}
.hover-bg-orange-3:hover {background-color: var(--orange-3);}
.hover-border-orange-3:hover {border-color: var(--orange-3);}

.hover-orange-4:hover {color: var(--orange-4);}
.hover-bg-orange-4:hover {background-color: var(--orange-4);}
.hover-border-orange-4:hover {border-color: var(--orange-4);}

.hover-orange-5:hover {color: var(--orange-5);}
.hover-bg-orange-5:hover {background-color: var(--orange-5);}
.hover-border-orange-5:hover {border-color: var(--orange-5);}

.hover-orange1:hover {color: var(--orange1);}
.hover-bg-orange1:hover {background-color: var(--orange1);}
.hover-border-orange1:hover {border-color: var(--orange1);}

.hover-orange2:hover {color: var(--orange2);}
.hover-bg-orange2:hover {background-color: var(--orange2);}
.hover-border-orange2:hover {border-color: var(--orange2);}

.hover-orange3:hover {color: var(--orange3);}
.hover-bg-orange3:hover {background-color: var(--orange3);}
.hover-border-orange3:hover {border-color: var(--orange3);}

.hover-orange4:hover {color: var(--orange4);}
.hover-bg-orange4:hover {background-color: var(--orange4);}
.hover-border-orange4:hover {border-color: var(--orange4);}

.hover-orange5:hover {color: var(--orange5);}
.hover-bg-orange5:hover {background-color: var(--orange5);}
.hover-border-orange5:hover {border-color: var(--orange5);}



/* gray */

.hover-gray:hover {color: var(--gray0);}
.hover-bg-gray:hover {background-color: var(--gray0);}
.hover-border-gray:hover {border-color: var(--gray0);}

.hover-gray-1:hover {color: var(--gray-1);}
.hover-bg-gray-1:hover {background-color: var(--gray-1);}
.hover-border-gray-1:hover {border-color: var(--gray-1);}

.hover-gray-2:hover {color: var(--gray-2);}
.hover-bg-gray-2:hover {background-color: var(--gray-2);}
.hover-border-gray-2:hover {border-color: var(--gray-2);}

.hover-gray-3:hover {color: var(--gray-3);}
.hover-bg-gray-3:hover {background-color: var(--gray-3);}
.hover-border-gray-3:hover {border-color: var(--gray-3);}

.hover-gray-4:hover {color: var(--gray-4);}
.hover-bg-gray-4:hover {background-color: var(--gray-4);}
.hover-border-gray-4:hover {border-color: var(--gray-4);}

.hover-gray-5:hover {color: var(--gray-5);}
.hover-bg-gray-5:hover {background-color: var(--gray-5);}
.hover-border-gray-5:hover {border-color: var(--gray-5);}

.hover-gray1:hover {color: var(--gray1);}
.hover-bg-gray1:hover {background-color: var(--gray1);}
.hover-border-gray1:hover {border-color: var(--gray1);}

.hover-gray2:hover {color: var(--gray2);}
.hover-bg-gray2:hover {background-color: var(--gray2);}
.hover-border-gray2:hover {border-color: var(--gray2);}

.hover-gray3:hover {color: var(--gray3);}
.hover-bg-gray3:hover {background-color: var(--gray3);}
.hover-border-gray3:hover {border-color: var(--gray3);}

.hover-gray4:hover {color: var(--gray4);}
.hover-bg-gray4:hover {background-color: var(--gray4);}
.hover-border-gray4:hover {border-color: var(--gray4);}

.hover-gray5:hover {color: var(--gray5);}
.hover-bg-gray5:hover {background-color: var(--gray5);}
.hover-border-gray5:hover {border-color: var(--gray5);}


.black{color: var(--black);}
.bg-black{background-color: var(--black);}
.border-black {border-color: var(--black);}

.hover-black:hover{color: var(--black);}
.hover-bg-black:hover{background-color: var(--black);}
.hover-border-black:hover {border-color: var(--black);}

.white {color: var(--white);}
.bg-white{background-color: var(--white);}
.border-white {border-color: var(--white);}

.hover-white:hover {color: var(--white);}
.hover-bg-white:hover{background-color: var(--white);}
.hover-border-white:hover {border-color: var(--white);}

.color-inherit{color: inherit;}
.bg-inherit{background-color: inherit;}
.border-inherit{border-color: inherit;}

.hover-color-inherit:hover{color: inherit;}
.hover-bg-inherit:hover{background-color: inherit;}
.hover-border-inherit:hover{border-color: inherit;}
