@import url('color-modifiers.css');
@import url('main-colors.css');
@import url('transparent-color.css');
@import url('fader.css');

:root {

/* Base Colors */

--yellow: #fed700;
--green: #8ad400;
--teal: #00b4a0;
--blue: #0077FF;
--purple: #994fd7;
--magenta: #ff35a0;
--red: #e9222b;
--orange: #ff7822;

--white: #ffffff;
--gray: #808080;
--black: #000000;

/* Modifiers */
--tint-1: tint(10%);
--tint-2: tint(25%);
--tint-3: tint(50%);
--tint-4: tint(75%);
--tint-5: tint(90%);

--shade-1: shade(10%);
--shade-2: shade(25%);
--shade-3: shade(50%);
--shade-4: shade(75%);
--shade-5: shade(90%);
}
