:root {

/* Yellow */
--yellow-5: color(var(--yellow) var(--tint-5));
--yellow-4: color(var(--yellow) var(--tint-4));
--yellow-3: color(var(--yellow) var(--tint-3));
--yellow-2: color(var(--yellow) var(--tint-2));
--yellow-1: color(var(--yellow) var(--tint-1));
--yellow0: color(var(--yellow));
--yellow1: color(var(--yellow) var(--shade-1));
--yellow2: color(var(--yellow) var(--shade-2));
--yellow3: color(var(--yellow) var(--shade-3));
--yellow4: color(var(--yellow) var(--shade-4));
--yellow5: color(var(--yellow) var(--shade-5));

/* Green */
--green-5: color(var(--green) var(--tint-5));
--green-4: color(var(--green) var(--tint-4));
--green-3: color(var(--green) var(--tint-3));
--green-2: color(var(--green) var(--tint-2));
--green-1: color(var(--green) var(--tint-1));
--green0:  color(var(--green));
--green1:  color(var(--green) var(--shade-1));
--green2:  color(var(--green) var(--shade-2));
--green3:  color(var(--green) var(--shade-3));
--green4:  color(var(--green) var(--shade-4));
--green5:  color(var(--green) var(--shade-5));

/* Teal */
--teal-5: color(var(--teal) var(--tint-5));
--teal-4: color(var(--teal) var(--tint-4));
--teal-3: color(var(--teal) var(--tint-3));
--teal-2: color(var(--teal) var(--tint-2));
--teal-1: color(var(--teal) var(--tint-1));
--teal0:  color(var(--teal));
--teal1:  color(var(--teal) var(--shade-1));
--teal2:  color(var(--teal) var(--shade-2));
--teal3:  color(var(--teal) var(--shade-3));
--teal4:  color(var(--teal) var(--shade-4));
--teal5:  color(var(--teal) var(--shade-5));

/* Blue */
--blue-5: color(var(--blue) var(--tint-5));
--blue-4: color(var(--blue) var(--tint-4));
--blue-3: color(var(--blue) var(--tint-3));
--blue-2: color(var(--blue) var(--tint-2));
--blue-1: color(var(--blue) var(--tint-1));
--blue0:  color(var(--blue));
--blue1:  color(var(--blue) var(--shade-1));
--blue2:  color(var(--blue) var(--shade-2));
--blue3:  color(var(--blue) var(--shade-3));
--blue4:  color(var(--blue) var(--shade-4));
--blue5:  color(var(--blue) var(--shade-5));

/* Purple */
--purple-5: color(var(--purple) var(--tint-5));
--purple-4: color(var(--purple) var(--tint-4));
--purple-3: color(var(--purple) var(--tint-3));
--purple-2: color(var(--purple) var(--tint-2));
--purple-1: color(var(--purple) var(--tint-1));
--purple0:  color(var(--purple));
--purple1:  color(var(--purple) var(--shade-1));
--purple2:  color(var(--purple) var(--shade-2));
--purple3:  color(var(--purple) var(--shade-3));
--purple4:  color(var(--purple) var(--shade-4));
--purple5:  color(var(--purple) var(--shade-5));

/* Magenta */
--magenta-5: color(var(--magenta) var(--tint-5));
--magenta-4: color(var(--magenta) var(--tint-4));
--magenta-3: color(var(--magenta) var(--tint-3));
--magenta-2: color(var(--magenta) var(--tint-2));
--magenta-1: color(var(--magenta) var(--tint-1));
--magenta0:  color(var(--magenta));
--magenta1:  color(var(--magenta) var(--shade-1));
--magenta2:  color(var(--magenta) var(--shade-2));
--magenta3:  color(var(--magenta) var(--shade-3));
--magenta4:  color(var(--magenta) var(--shade-4));
--magenta5:  color(var(--magenta) var(--shade-5));

/* Red */
--red-5: color(var(--red) var(--tint-5));
--red-4: color(var(--red) var(--tint-4));
--red-3: color(var(--red) var(--tint-3));
--red-2: color(var(--red) var(--tint-2));
--red-1: color(var(--red) var(--tint-1));
--red0:  color(var(--red));
--red1:  color(var(--red) var(--shade-1));
--red2:  color(var(--red) var(--shade-2));
--red3:  color(var(--red) var(--shade-3));
--red4:  color(var(--red) var(--shade-4));
--red5:  color(var(--red) var(--shade-5));

/* Orange */
--orange-5: color(var(--orange) var(--tint-5));
--orange-4: color(var(--orange) var(--tint-4));
--orange-3: color(var(--orange) var(--tint-3));
--orange-2: color(var(--orange) var(--tint-2));
--orange-1: color(var(--orange) var(--tint-1));
--orange0:  color(var(--orange));
--orange1:  color(var(--orange) var(--shade-1));
--orange2:  color(var(--orange) var(--shade-2));
--orange3:  color(var(--orange) var(--shade-3));
--orange4:  color(var(--orange) var(--shade-4));
--orange5:  color(var(--orange) var(--shade-5));

/* Gray */
--gray-5: color(var(--gray) var(--tint-5));
--gray-4: color(var(--gray) var(--tint-4));
--gray-3: color(var(--gray) var(--tint-3));
--gray-2: color(var(--gray) var(--tint-2));
--gray-1: color(var(--gray) var(--tint-1));
--gray0:  color(var(--gray));
--gray1:  color(var(--gray) var(--shade-1));
--gray2:  color(var(--gray) var(--shade-2));
--gray3:  color(var(--gray) var(--shade-3));
--gray4:  color(var(--gray) var(--shade-4));
--gray5:  color(var(--gray) var(--shade-5));

}

/*------------------------------------*\
COLORS
\*------------------------------------*/

/* Yellow */

[class~='yellow'] {color: var(--yellow0);}
[class~='bg-yellow'] {background-color: var(--yellow0);}
[class~='border-yellow'] {border-color: var(--yellow0);}

[class~='yellow-1'] {color: var(--yellow-1);}
[class~='bg-yellow-1'] {background-color: var(--yellow-1);}
[class~='border-yellow-1'] {border-color: var(--yellow-1);}

[class~='yellow-2'] {color: var(--yellow-2);}
[class~='bg-yellow-2'] {background-color: var(--yellow-2);}
[class~='border-yellow-2'] {border-color: var(--yellow-2);}

[class~='yellow-3'] {color: var(--yellow-3);}
[class~='bg-yellow-3'] {background-color: var(--yellow-3);}
[class~='border-yellow-3'] {border-color: var(--yellow-3);}

[class~='yellow-4'] {color: var(--yellow-4);}
[class~='bg-yellow-4'] {background-color: var(--yellow-4);}
[class~='border-yellow-4'] {border-color: var(--yellow-4);}

[class~='yellow-5'] {color: var(--yellow-5);}
[class~='bg-yellow-5'] {background-color: var(--yellow-5);}
[class~='border-yellow-5'] {border-color: var(--yellow-5);}

[class~='yellow+1'] {color: var(--yellow1);}
[class~='bg-yellow+1'] {background-color: var(--yellow1);}
[class~='border-yellow+1'] {border-color: var(--yellow1);}

[class~='yellow+2'] {color: var(--yellow2);}
[class~='bg-yellow+2'] {background-color: var(--yellow2);}
[class~='border-yellow+2'] {border-color: var(--yellow2);}

[class~='yellow+3'] {color: var(--yellow3);}
[class~='bg-yellow+3'] {background-color: var(--yellow3);}
[class~='border-yellow+3'] {border-color: var(--yellow3);}

[class~='yellow+4'] {color: var(--yellow4);}
[class~='bg-yellow+4'] {background-color: var(--yellow4);}
[class~='border-yellow+4'] {border-color: var(--yellow4);}

[class~='yellow+5'] {color: var(--yellow5);}
[class~='bg-yellow+5'] {background-color: var(--yellow5);}
[class~='border-yellow+5'] {border-color: var(--yellow5);}

/* green */

[class~='green'] {color: var(--green0);}
[class~='bg-green'] {background-color: var(--green0);}
[class~='border-green'] {border-color: var(--green0);}

[class~='green-1'] {color: var(--green-1);}
[class~='bg-green-1'] {background-color: var(--green-1);}
[class~='border-green-1'] {border-color: var(--green-1);}

[class~='green-2'] {color: var(--green-2);}
[class~='bg-green-2'] {background-color: var(--green-2);}
[class~='border-green-2'] {border-color: var(--green-2);}

[class~='green-3'] {color: var(--green-3);}
[class~='bg-green-3'] {background-color: var(--green-3);}
[class~='border-green-3'] {border-color: var(--green-3);}

[class~='green-4'] {color: var(--green-4);}
[class~='bg-green-4'] {background-color: var(--green-4);}
[class~='border-green-4'] {border-color: var(--green-4);}

[class~='green-5'] {color: var(--green-5);}
[class~='bg-green-5'] {background-color: var(--green-5);}
[class~='border-green-5'] {border-color: var(--green-5);}

[class~='green+1'] {color: var(--green1);}
[class~='bg-green+1'] {background-color: var(--green1);}
[class~='border-green+1'] {border-color: var(--green1);}

[class~='green+2'] {color: var(--green2);}
[class~='bg-green+2'] {background-color: var(--green2);}
[class~='border-green+2'] {border-color: var(--green2);}

[class~='green+3'] {color: var(--green3);}
[class~='bg-green+3'] {background-color: var(--green3);}
[class~='border-green+3'] {border-color: var(--green3);}

[class~='green+4'] {color: var(--green4);}
[class~='bg-green+4'] {background-color: var(--green4);}
[class~='border-green+4'] {border-color: var(--green4);}

[class~='green+5'] {color: var(--green5);}
[class~='bg-green+5'] {background-color: var(--green5);}
[class~='border-green+5'] {border-color: var(--green5);}

/* teal */

[class~='teal'] {color: var(--teal0);}
[class~='bg-teal'] {background-color: var(--teal0);}
[class~='border-teal'] {border-color: var(--teal0);}

[class~='teal-1'] {color: var(--teal-1);}
[class~='bg-teal-1'] {background-color: var(--teal-1);}
[class~='border-teal-1'] {border-color: var(--teal-1);}

[class~='teal-2'] {color: var(--teal-2);}
[class~='bg-teal-2'] {background-color: var(--teal-2);}
[class~='border-teal-2'] {border-color: var(--teal-2);}

[class~='teal-3'] {color: var(--teal-3);}
[class~='bg-teal-3'] {background-color: var(--teal-3);}
[class~='border-teal-3'] {border-color: var(--teal-3);}

[class~='teal-4'] {color: var(--teal-4);}
[class~='bg-teal-4'] {background-color: var(--teal-4);}
[class~='border-teal-4'] {border-color: var(--teal-4);}

[class~='teal-5'] {color: var(--teal-5);}
[class~='bg-teal-5'] {background-color: var(--teal-5);}
[class~='border-teal-5'] {border-color: var(--teal-5);}

[class~='teal+1'] {color: var(--teal1);}
[class~='bg-teal+1'] {background-color: var(--teal1);}
[class~='border-teal+1'] {border-color: var(--teal1);}

[class~='teal+2'] {color: var(--teal2);}
[class~='bg-teal+2'] {background-color: var(--teal2);}
[class~='border-teal+2'] {border-color: var(--teal2);}

[class~='teal+3'] {color: var(--teal3);}
[class~='bg-teal+3'] {background-color: var(--teal3);}
[class~='border-teal+3'] {border-color: var(--teal3);}

[class~='teal+4'] {color: var(--teal4);}
[class~='bg-teal+4'] {background-color: var(--teal4);}
[class~='border-teal+4'] {border-color: var(--teal4);}

[class~='teal+5'] {color: var(--teal5);}
[class~='bg-teal+5'] {background-color: var(--teal5);}
[class~='border-teal+5'] {border-color: var(--teal5);}

/* blue */

[class~='blue'] {color: var(--blue0);}
[class~='bg-blue'] {background-color: var(--blue0);}
[class~='border-blue'] {border-color: var(--blue0);}

[class~='blue-1'] {color: var(--blue-1);}
[class~='bg-blue-1'] {background-color: var(--blue-1);}
[class~='border-blue-1'] {border-color: var(--blue-1);}

[class~='blue-2'] {color: var(--blue-2);}
[class~='bg-blue-2'] {background-color: var(--blue-2);}
[class~='border-blue-2'] {border-color: var(--blue-2);}

[class~='blue-3'] {color: var(--blue-3);}
[class~='bg-blue-3'] {background-color: var(--blue-3);}
[class~='border-blue-3'] {border-color: var(--blue-3);}

[class~='blue-4'] {color: var(--blue-4);}
[class~='bg-blue-4'] {background-color: var(--blue-4);}
[class~='border-blue-4'] {border-color: var(--blue-4);}

[class~='blue-5'] {color: var(--blue-5);}
[class~='bg-blue-5'] {background-color: var(--blue-5);}
[class~='border-blue-5'] {border-color: var(--blue-5);}

[class~='blue+1'] {color: var(--blue1);}
[class~='bg-blue+1'] {background-color: var(--blue1);}
[class~='border-blue+1'] {border-color: var(--blue1);}

[class~='blue+2'] {color: var(--blue2);}
[class~='bg-blue+2'] {background-color: var(--blue2);}
[class~='border-blue+2'] {border-color: var(--blue2);}

[class~='blue+3'] {color: var(--blue3);}
[class~='bg-blue+3'] {background-color: var(--blue3);}
[class~='border-blue+3'] {border-color: var(--blue3);}

[class~='blue+4'] {color: var(--blue4);}
[class~='bg-blue+4'] {background-color: var(--blue4);}
[class~='border-blue+4'] {border-color: var(--blue4);}

[class~='blue+5'] {color: var(--blue5);}
[class~='bg-blue+5'] {background-color: var(--blue5);}
[class~='border-blue+5'] {border-color: var(--blue5);}



/* purple */
[class~='purple'] {color: var(--purple0);}
[class~='bg-purple'] {background-color: var(--purple0);}
[class~='border-purple'] {border-color: var(--purple0);}

[class~='purple-1'] {color: var(--purple-1);}
[class~='bg-purple-1'] {background-color: var(--purple-1);}
[class~='border-purple-1'] {border-color: var(--purple-1);}

[class~='purple-2'] {color: var(--purple-2);}
[class~='bg-purple-2'] {background-color: var(--purple-2);}
[class~='border-purple-2'] {border-color: var(--purple-2);}

[class~='purple-3'] {color: var(--purple-3);}
[class~='bg-purple-3'] {background-color: var(--purple-3);}
[class~='border-purple-3'] {border-color: var(--purple-3);}

[class~='purple-4'] {color: var(--purple-4);}
[class~='bg-purple-4'] {background-color: var(--purple-4);}
[class~='border-purple-4'] {border-color: var(--purple-4);}

[class~='purple-5'] {color: var(--purple-5);}
[class~='bg-purple-5'] {background-color: var(--purple-5);}
[class~='border-purple-5'] {border-color: var(--purple-5);}

[class~='purple+1'] {color: var(--purple1);}
[class~='bg-purple+1'] {background-color: var(--purple1);}
[class~='border-purple+1'] {border-color: var(--purple1);}

[class~='purple+2'] {color: var(--purple2);}
[class~='bg-purple+2'] {background-color: var(--purple2);}
[class~='border-purple+2'] {border-color: var(--purple2);}

[class~='purple+3'] {color: var(--purple3);}
[class~='bg-purple+3'] {background-color: var(--purple3);}
[class~='border-purple+3'] {border-color: var(--purple3);}

[class~='purple+4'] {color: var(--purple4);}
[class~='bg-purple+4'] {background-color: var(--purple4);}
[class~='border-purple+4'] {border-color: var(--purple4);}

[class~='purple+5'] {color: var(--purple5);}
[class~='bg-purple+5'] {background-color: var(--purple5);}
[class~='border-purple+5'] {border-color: var(--purple5);}



/* magenta */

[class~='magenta'] {color: var(--magenta0);}
[class~='bg-magenta'] {background-color: var(--magenta0);}
[class~='border-magenta'] {border-color: var(--magenta0);}

[class~='magenta-1'] {color: var(--magenta-1);}
[class~='bg-magenta-1'] {background-color: var(--magenta-1);}
[class~='border-magenta-1'] {border-color: var(--magenta-1);}

[class~='magenta-2'] {color: var(--magenta-2);}
[class~='bg-magenta-2'] {background-color: var(--magenta-2);}
[class~='border-magenta-2'] {border-color: var(--magenta-2);}

[class~='magenta-3'] {color: var(--magenta-3);}
[class~='bg-magenta-3'] {background-color: var(--magenta-3);}
[class~='border-magenta-3'] {border-color: var(--magenta-3);}

[class~='magenta-4'] {color: var(--magenta-4);}
[class~='bg-magenta-4'] {background-color: var(--magenta-4);}
[class~='border-magenta-4'] {border-color: var(--magenta-4);}

[class~='magenta-5'] {color: var(--magenta-5);}
[class~='bg-magenta-5'] {background-color: var(--magenta-5);}
[class~='border-magenta-5'] {border-color: var(--magenta-5);}

[class~='magenta+1'] {color: var(--magenta1);}
[class~='bg-magenta+1'] {background-color: var(--magenta1);}
[class~='border-magenta+1'] {border-color: var(--magenta1);}

[class~='magenta+2'] {color: var(--magenta2);}
[class~='bg-magenta+2'] {background-color: var(--magenta2);}
[class~='border-magenta+2'] {border-color: var(--magenta2);}

[class~='magenta+3'] {color: var(--magenta3);}
[class~='bg-magenta+3'] {background-color: var(--magenta3);}
[class~='border-magenta+3'] {border-color: var(--magenta3);}

[class~='magenta+4'] {color: var(--magenta4);}
[class~='bg-magenta+4'] {background-color: var(--magenta4);}
[class~='border-magenta+4'] {border-color: var(--magenta4);}

[class~='magenta+5'] {color: var(--magenta5);}
[class~='bg-magenta+5'] {background-color: var(--magenta5);}
[class~='border-magenta+5'] {border-color: var(--magenta5);}


/* red */

[class~='red'] {color: var(--red0);}
[class~='bg-red'] {background-color: var(--red0);}
[class~='border-red'] {border-color: var(--red0);}

[class~='red-1'] {color: var(--red-1);}
[class~='bg-red-1'] {background-color: var(--red-1);}
[class~='border-red-1'] {border-color: var(--red-1);}

[class~='red-2'] {color: var(--red-2);}
[class~='bg-red-2'] {background-color: var(--red-2);}
[class~='border-red-2'] {border-color: var(--red-2);}

[class~='red-3'] {color: var(--red-3);}
[class~='bg-red-3'] {background-color: var(--red-3);}
[class~='border-red-3'] {border-color: var(--red-3);}

[class~='red-4'] {color: var(--red-4);}
[class~='bg-red-4'] {background-color: var(--red-4);}
[class~='border-red-4'] {border-color: var(--red-4);}

[class~='red-5'] {color: var(--red-5);}
[class~='bg-red-5'] {background-color: var(--red-5);}
[class~='border-red-5'] {border-color: var(--red-5);}

[class~='red+1'] {color: var(--red1);}
[class~='bg-red+1'] {background-color: var(--red1);}
[class~='border-red+1'] {border-color: var(--red1);}

[class~='red+2'] {color: var(--red2);}
[class~='bg-red+2'] {background-color: var(--red2);}
[class~='border-red+2'] {border-color: var(--red2);}

[class~='red+3'] {color: var(--red3);}
[class~='bg-red+3'] {background-color: var(--red3);}
[class~='border-red+3'] {border-color: var(--red3);}

[class~='red+4'] {color: var(--red4);}
[class~='bg-red+4'] {background-color: var(--red4);}
[class~='border-red+4'] {border-color: var(--red4);}

[class~='red+5'] {color: var(--red5);}
[class~='bg-red+5'] {background-color: var(--red5);}
[class~='border-red+5'] {border-color: var(--red5);}



/* orange */

[class~='orange'] {color: var(--orange0);}
[class~='bg-orange'] {background-color: var(--orange0);}
[class~='border-orange'] {border-color: var(--orange0);}

[class~='orange-1'] {color: var(--orange-1);}
[class~='bg-orange-1'] {background-color: var(--orange-1);}
[class~='border-orange-1'] {border-color: var(--orange-1);}

[class~='orange-2'] {color: var(--orange-2);}
[class~='bg-orange-2'] {background-color: var(--orange-2);}
[class~='border-orange-2'] {border-color: var(--orange-2);}

[class~='orange-3'] {color: var(--orange-3);}
[class~='bg-orange-3'] {background-color: var(--orange-3);}
[class~='border-orange-3'] {border-color: var(--orange-3);}

[class~='orange-4'] {color: var(--orange-4);}
[class~='bg-orange-4'] {background-color: var(--orange-4);}
[class~='border-orange-4'] {border-color: var(--orange-4);}

[class~='orange-5'] {color: var(--orange-5);}
[class~='bg-orange-5'] {background-color: var(--orange-5);}
[class~='border-orange-5'] {border-color: var(--orange-5);}

[class~='orange+1'] {color: var(--orange1);}
[class~='bg-orange+1'] {background-color: var(--orange1);}
[class~='border-orange+1'] {border-color: var(--orange1);}

[class~='orange+2'] {color: var(--orange2);}
[class~='bg-orange+2'] {background-color: var(--orange2);}
[class~='border-orange+2'] {border-color: var(--orange2);}

[class~='orange+3'] {color: var(--orange3);}
[class~='bg-orange+3'] {background-color: var(--orange3);}
[class~='border-orange+3'] {border-color: var(--orange3);}

[class~='orange+4'] {color: var(--orange4);}
[class~='bg-orange+4'] {background-color: var(--orange4);}
[class~='border-orange+4'] {border-color: var(--orange4);}

[class~='orange+5'] {color: var(--orange5);}
[class~='bg-orange+5'] {background-color: var(--orange5);}
[class~='border-orange+5'] {border-color: var(--orange5);}



/* gray */

[class~='gray'] {color: var(--gray0);}
[class~='bg-gray'] {background-color: var(--gray0);}
[class~='border-gray'] {border-color: var(--gray0);}

[class~='gray-1'] {color: var(--gray-1);}
[class~='bg-gray-1'] {background-color: var(--gray-1);}
[class~='border-gray-1'] {border-color: var(--gray-1);}

[class~='gray-2'] {color: var(--gray-2);}
[class~='bg-gray-2'] {background-color: var(--gray-2);}
[class~='border-gray-2'] {border-color: var(--gray-2);}

[class~='gray-3'] {color: var(--gray-3);}
[class~='bg-gray-3'] {background-color: var(--gray-3);}
[class~='border-gray-3'] {border-color: var(--gray-3);}

[class~='gray-4'] {color: var(--gray-4);}
[class~='bg-gray-4'] {background-color: var(--gray-4);}
[class~='border-gray-4'] {border-color: var(--gray-4);}

[class~='gray-5'] {color: var(--gray-5);}
[class~='bg-gray-5'] {background-color: var(--gray-5);}
[class~='border-gray-5'] {border-color: var(--gray-5);}

[class~='gray+1'] {color: var(--gray1);}
[class~='bg-gray+1'] {background-color: var(--gray1);}
[class~='border-gray+1'] {border-color: var(--gray1);}

[class~='gray+2'] {color: var(--gray2);}
[class~='bg-gray+2'] {background-color: var(--gray2);}
[class~='border-gray+2'] {border-color: var(--gray2);}

[class~='gray+3'] {color: var(--gray3);}
[class~='bg-gray+3'] {background-color: var(--gray3);}
[class~='border-gray+3'] {border-color: var(--gray3);}

[class~='gray+4'] {color: var(--gray4);}
[class~='bg-gray+4'] {background-color: var(--gray4);}
[class~='border-gray+4'] {border-color: var(--gray4);}

[class~='gray+5'] {color: var(--gray5);}
[class~='bg-gray+5'] {background-color: var(--gray5);}
[class~='border-gray+5'] {border-color: var(--gray5);}




.black, .yellow-10, .green-10, .teal-10, .blue-10, .purple-10, .magenta-10, .red-10, .orange-10, .gray-10 {color: var(--black);}
.bg-black, .bg-yellow-10, .bg-green-10, .bg-teal-10, .bg-blue-10, .bg-purple-10, .bg-magenta-10, .bg-red-10, .bg-orange-10, .bg-gray-10 {background-color: var(--black);}
.border-black, .border-yellow-10, .border-green-10, .border-teal-10, .border-blue-10, .border-purple-10, .border-magenta-10, .border-red-10, .border-orange-10, .border-gray-10 {border-color: var(--black);}

.white, .yellow-0, .green-0, .teal-0, .blue-0, .purple-0, .magenta-0, .red-0, .orange-0, .gray-0 {color: var(--white);}
.bg-white, .bg-yellow-0, .bg-green-0, .bg-teal-0, .bg-blue-0, .bg-purple-0, .bg-magenta-0, .bg-red-0, .bg-orange-0, .bg-gray-0 {background-color: var(--white);}
.border-white,.border-yellow-0, .border-green-0, .border-teal-0, .border-blue-0, .border-purple-0, .border-magenta-0, .border-red-0, .border-orange-0, .border-gray-0 {border-color: var(--white);}

.color-inherit{color: inherit;}
.bg-color-inherit{background-color: inherit;}
.border-color-inherit{border-color: inherit;}
.bg-inherit{background-color: inherit;}
