:root {

  /* Base size */

  --base-spacing: 0em;

  /* Modifiers */

  --decrease1: calc( var(--base-spacing) - .025 );
  --decrease2: calc( var(--base-spacing) - .05 );
  --decrease3: calc( var(--base-spacing) - .0875 );
  --decrease4: calc( var(--base-spacing) - .125 );
  --decrease5: calc( var(--base-spacing) - .15 );

  --increase1: calc(var(--base-spacing) + .0875);
  --increase2: calc(var(--base-spacing) + .125);
  --increase3: calc(var(--base-spacing) + .25);
  --increase4: calc(var(--base-spacing) + .5);
  --increase5: calc(var(--base-spacing) + 1);

}

/* Letter Spacing */

[class~="spacing-5"]{letter-spacing: var(--decrease5);}
[class~='spacing-4']{letter-spacing: var(--decrease4);}
[class~='spacing-3']{letter-spacing: var(--decrease3);}
[class~='spacing-2']{letter-spacing: var(--decrease2);}
[class~='spacing-1']{letter-spacing: var(--decrease1);}
[class~='spacing-0']{letter-spacing: var(--base-spacing);}
[class~='spacing+1']{letter-spacing: var(--increase1);}
[class~='spacing+2']{letter-spacing: var(--increase2);}
[class~='spacing+3']{letter-spacing: var(--increase3);}
[class~='spacing+4']{letter-spacing: var(--increase4);}
[class~='spacing+5']{letter-spacing: var(--increase5);}



.spacing-auto{ letter-spacing: inherit;}


/* legacy syntax to support previous versions of framework */

.ls0{letter-spacing: 0;}
.ls1{letter-spacing: 0.1em;}
.ls2{letter-spacing: 0.2em;}
