
:root {

  /* Base size */

  --base-leading: 1.25;

  /* Modifiers */

  --inc1: calc(var(--base-leading) + .25);
  --inc2: calc(var(--base-leading) + .5);
  --inc3: calc(var(--base-leading) + 1);
  --inc4: calc(var(--base-leading) + 2);

}

/* Line Height */

[class~='leading0']{line-height: 0}
[class~='leading1']{line-height: var(--base-leading);}
[class~='leading2']{line-height: var(--inc1);}
[class~='leading3']{line-height: var(--inc2);}
[class~='leading4']{line-height: var(--inc3);}
[class~='leading5']{line-height: var(--inc4);}

.leading-auto{ line-height: inherit;}
