:root {

  /* Base size */

  --base-size: 1rem;

  /* Modifiers */

  --ascend-5: calc(var(--base-size) + 3);
  --ascend-4: calc(var(--base-size) + 2);
  --ascend-3: calc(var(--base-size) + 1);
  --ascend-2: calc(var(--base-size) + .5);
  --ascend-1: calc(var(--base-size) + .125);

  --descend-1: calc(var(--base-size) - .125);
  --descend-2: calc(var(--base-size) - .25);
  --descend-3: calc(var(--base-size) - .375);
  --descend-4: calc(var(--base-size) - .5);
  --descend-5: calc(var(--base-size) - .75);

}

/* Size */

[class~="size-5"]{font-size: var(--descend-5);}
[class~="size-4"]{font-size: var(--descend-4);}
[class~="size-3"]{font-size: var(--descend-3);}
[class~="size-2"]{font-size: var(--descend-2);}
[class~="size-1"]{font-size: var(--descend-1);}
[class~="size-0"]{font-size: var(--base-size);}
[class~="size+1"]{font-size: var(--ascend-1);}
[class~="size+2"]{font-size: var(--ascend-2);}
[class~="size+3"]{font-size: var(--ascend-3);}
[class~="size+4"]{font-size: var(--ascend-4);}
[class~="size+5"]{font-size: var(--ascend-5);}

.size-auto{ font-size: inherit;}
