/* font style */
.italic{font-style: italic;}

/* text transform */
.caps{text-transform: uppercase;}

/* font variant */
.small-caps{font-variant: small-caps;}

/* text decoration */
.underline{text-decoration: underline;}
.line-through{text-decoration: line-through;}

/* text align */
.align-left{text-align: left;}
.center{text-align: center;}
.align-right{text-align: right;}
.justify{text-align: justify;}

/* white space */
.nowrap {white-space: nowrap;}

/* truncate */
.truncate { width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

/* text-shadow */
.text-shadow {text-shadow: 0 1px 2px color(black alpha(0.2));}

/* blockquote */
.blockquote {quotes: "“" "”" "‘" "’";}
.blockquote:before { content: open-quote;}
.blockquote:after { content: close-quote;}
.blockquote::before, .blockquote::after { color: currentColor; font-size: 1.5em; line-height: inherit; opacity: .5; margin: 0 .25em;}
