:root{

  --weight-1: 100;
  --weight-2: 200;
  --weight-3: 300;
  --weight-4: 400;
  --weight-5: 500;
  --weight-6: 600;
  --weight-7: 700;
  --weight-8: 800;
  --weight-9: 900;

}


/* Font Weight */

.weight-3, .thin{ font-weight: var(--weight-1);}
.weight-2, .extra-light{ font-weight: var(--weight-2);}
.weight-1, .light{ font-weight: var(--weight-3);}
.weight0, .normal{ font-weight: var(--weight-4);}
.weight1, .medium{ font-weight: var(--weight-5);}
.weight2, .semi-bold{ font-weight: var(--weight-6);}
.weight3, .bold{ font-weight: var(--weight-7);}
.weight4, .extra-bold{ font-weight: var(--weight-8);}
.weight5, .heavy{ font-weight: var(--weight-9);}

.lighter{font-weight: lighter;}  /* lighter than parent element*/
.bolder{font-weight: bolder;} /* bolder than parent element*/
