:root{

  --weight-1: 100;
  --weight-2: 200;
  --weight-3: 300;
  --weight-4: 400;
  --weight-5: 500;
  --weight-6: 600;
  --weight-7: 700;
  --weight-8: 800;
  --weight-9: 900;

}


/* Font Weight */

.thin{ font-weight: var(--weight-1);}
.extra-light{ font-weight: var(--weight-2);}
.light{ font-weight: var(--weight-3);}
.normal{ font-weight: var(--weight-4);}
.medium{ font-weight: var(--weight-5);}
.semi-bold{ font-weight: var(--weight-6);}
.bold{ font-weight: var(--weight-7);}
.extra-bold{ font-weight: var(--weight-8);}
.heavy{ font-weight: var(--weight-9);}

.lighter{font-weight: lighter;}  /* lighter than parent element*/
.bolder{font-weight: bolder;} /* bolder than parent element*/
