/* box-shadow */

.lift1{box-shadow: 0px 1px 2px color(black alpha(0.125));}
.lift2{box-shadow: 0px 2px 4px color(black alpha(0.15));}
.lift3{box-shadow: 0px 3px 8px color(black alpha(0.15));}
.lift4{box-shadow: 0px 6px 16px color(black alpha(0.15));}
.lift5{box-shadow: 0px 12px 32px color(black alpha(0.15));}
