@import url('border.css');
@import url('margin.css');
@import url('padding.css');
@import url('box-shadow.css');
@import url('width.css');
@import url('utility.css');

/*
Box model properties
  box-shadow
  box-sizing
  height
  margin
  overflow
  padding
  visibility
  width
 */

:root {
    
--space: 1rem;
--space-1: calc(var(--space) * .25);
--space-2: calc(var(--space) * .5);
--space-3: calc(var(--space) * 1);
--space-4: calc(var(--space) * 2);
--space-5: calc(var(--space) * 4);
 
}
