@import url('border.css');
@import url('margin.css');
@import url('padding.css');
@import url('utility.css');

/*
Box model properties
  box-shadow
  box-sizing
  height
  margin
  overflow
  padding
  visibility
  width
 */

:root{
--space-1: .5rem;
--space-2: 1rem;
--space-3: 2rem;
--space-4: 4rem;
}
