@import url('../media-query.css');

/* linear scale */

.width\+1{ width: 10%;}
.width\+2{ width: 20%;}
.width\+3{ width: 30%;}
.width\+4{ width: 40%;}
.width\+5{ width: 50%;}
.width\+6{ width: 60%;}
.width\+7{ width: 70%;}
.width\+8{ width: 80%;}
.width\+9{ width: 90%;}
.width\+10{ width: 100%;}

@media (--only-xs-screen){
  .xs-width\+1{ width: 10%;}
  .xs-width\+2{ width: 20%;}
  .xs-width\+3{ width: 30%;}
  .xs-width\+4{ width: 40%;}
  .xs-width\+5{ width: 50%;}
  .xs-width\+6{ width: 60%;}
  .xs-width\+7{ width: 70%;}
  .xs-width\+8{ width: 80%;}
  .xs-width\+9{ width: 90%;}
  .xs-width\+10{ width: 100%;}
}
@media (--sm-screen){
  .sm-width\+1{ width: 10%;}
  .sm-width\+2{ width: 20%;}
  .sm-width\+3{ width: 30%;}
  .sm-width\+4{ width: 40%;}
  .sm-width\+5{ width: 50%;}
  .sm-width\+6{ width: 60%;}
  .sm-width\+7{ width: 70%;}
  .sm-width\+8{ width: 80%;}
  .sm-width\+9{ width: 90%;}
  .sm-width\+10{ width: 100%;}
}
@media (--md-screen){
  .md-width\+1{ width: 10%;}
  .md-width\+2{ width: 20%;}
  .md-width\+3{ width: 30%;}
  .md-width\+4{ width: 40%;}
  .md-width\+5{ width: 50%;}
  .md-width\+6{ width: 60%;}
  .md-width\+7{ width: 70%;}
  .md-width\+8{ width: 80%;}
  .md-width\+9{ width: 90%;}
  .md-width\+10{ width: 100%;}
}
@media (--lg-screen){
  .lg-width\+1{ width: 10%;}
  .lg-width\+2{ width: 20%;}
  .lg-width\+3{ width: 30%;}
  .lg-width\+4{ width: 40%;}
  .lg-width\+5{ width: 50%;}
  .lg-width\+6{ width: 60%;}
  .lg-width\+7{ width: 70%;}
  .lg-width\+8{ width: 80%;}
  .lg-width\+9{ width: 90%;}
  .lg-width\+10{ width: 100%;}
}
@media (--only-xl-screen){
  .xl-width\+1{ width: 10%;}
  .xl-width\+2{ width: 20%;}
  .xl-width\+3{ width: 30%;}
  .xl-width\+4{ width: 40%;}
  .xl-width\+5{ width: 50%;}
  .xl-width\+6{ width: 60%;}
  .xl-width\+7{ width: 70%;}
  .xl-width\+8{ width: 80%;}
  .xl-width\+9{ width: 90%;}
  .xl-width\+10{ width: 100%;}
}

/* ratio scale */

.r1\:1,
.r2\:2,
.r3\:3,
.r4\:4,
.r5\:5,
.r6\:6,
.r7\:7,
.r8\:8,
.r9\:9,
.r10\:10{ width: 100%;}


.r1\:2,
.r2\:4,
.r3\:6,
.r4\:8,
.r5\:10{ width: calc(100% / 2);}

.r1\:3,
.r2\:6,
.r3\:9,
.r3\:10{ width: calc(100% / 3);}

.r2\:3,
.r4\:6,
.r6\:9{ width: calc(100% / (3 / 2));}

.r1\:4,
.r2\:8{ width: calc(100% / 4);}

.r3\:4,
.r6\:8{ width: calc(100% / (4 / 3));}

.r1\:5,
.r2\:10{ width: calc(100% / 5);}

.r2\:5,
.r4\:10{ width: calc(100% / (5 / 2));}

.r3\:5,
.r6\:10{ width: calc(100% / (5 / 3));}

.r4\:5,
.r8\:10{ width: calc(100% / (5 / 4));}

.r1\:6{ width: calc(100% / 6);}
.r5\:6{ width: calc(100% / (6 / 5));}

.r1\:7{ width: calc(100% / 7);}
.r2\:7{ width: calc(100% / (7 / 2));}
.r3\:7{ width: calc(100% / (7 / 3));}
.r4\:7{ width: calc(100% / (7 / 4));}
.r5\:7{ width: calc(100% / (7 / 5));}
.r6\:7{ width: calc(100% / (7 / 6));}

.r1\:8{ width: calc(100% / 8);}
.r3\:8{ width: calc(100% / (8 / 3));}
.r5\:8{ width: calc(100% / (8 / 5));}
.r7\:8{ width: calc(100% / (8 / 7));}

.r1\:9{ width: calc(100% / 9);}
.r2\:9{ width: calc(100% / (9 / 2));}
.r4\:9{ width: calc(100% / (9 / 4));}
.r5\:9{ width: calc(100% / (9 / 5));}
.r7\:9{ width: calc(100% / (9 / 7));}
.r8\:9{ width: calc(100% / (9 / 8));}

.r1\:10{ width: calc(100% / 10);}
.r7\:10{ width: calc(100% / (10 / 7));}
.r9\:10{ width: calc(100% / (10 / 9));}
