@import url('../media-query.css');

/* linear scale */

.width\+1{ width: 10%;}
.width\+2{ width: 20%;}
.width\+3{ width: 30%;}
.width\+4{ width: 40%;}
.width\+5{ width: 50%;}
.width\+6{ width: 60%;}
.width\+7{ width: 70%;}
.width\+8{ width: 80%;}
.width\+9{ width: 90%;}
.width\+10{ width: 100%;}

@media (--only-xs-screen){
  .xs-width\+1{ width: 10%;}
  .xs-width\+2{ width: 20%;}
  .xs-width\+3{ width: 30%;}
  .xs-width\+4{ width: 40%;}
  .xs-width\+5{ width: 50%;}
  .xs-width\+6{ width: 60%;}
  .xs-width\+7{ width: 70%;}
  .xs-width\+8{ width: 80%;}
  .xs-width\+9{ width: 90%;}
  .xs-width\+10{ width: 100%;}
}
@media (--only-sm-screen){
  .sm-width\+1{ width: 10%;}
  .sm-width\+2{ width: 20%;}
  .sm-width\+3{ width: 30%;}
  .sm-width\+4{ width: 40%;}
  .sm-width\+5{ width: 50%;}
  .sm-width\+6{ width: 60%;}
  .sm-width\+7{ width: 70%;}
  .sm-width\+8{ width: 80%;}
  .sm-width\+9{ width: 90%;}
  .sm-width\+10{ width: 100%;}
}
@media (--only-md-screen){
  .md-width\+1{ width: 10%;}
  .md-width\+2{ width: 20%;}
  .md-width\+3{ width: 30%;}
  .md-width\+4{ width: 40%;}
  .md-width\+5{ width: 50%;}
  .md-width\+6{ width: 60%;}
  .md-width\+7{ width: 70%;}
  .md-width\+8{ width: 80%;}
  .md-width\+9{ width: 90%;}
  .md-width\+10{ width: 100%;}
}
@media (--only-lg-screen){
  .lg-width\+1{ width: 10%;}
  .lg-width\+2{ width: 20%;}
  .lg-width\+3{ width: 30%;}
  .lg-width\+4{ width: 40%;}
  .lg-width\+5{ width: 50%;}
  .lg-width\+6{ width: 60%;}
  .lg-width\+7{ width: 70%;}
  .lg-width\+8{ width: 80%;}
  .lg-width\+9{ width: 90%;}
  .lg-width\+10{ width: 100%;}
}
@media (--only-xl-screen){
  .xl-width\+1{ width: 10%;}
  .xl-width\+2{ width: 20%;}
  .xl-width\+3{ width: 30%;}
  .xl-width\+4{ width: 40%;}
  .xl-width\+5{ width: 50%;}
  .xl-width\+6{ width: 60%;}
  .xl-width\+7{ width: 70%;}
  .xl-width\+8{ width: 80%;}
  .xl-width\+9{ width: 90%;}
  .xl-width\+10{ width: 100%;}
}

/* ratio scale */

.ratio1-1,
.ratio2-2,
.ratio3-3,
.ratio4-4,
.ratio5-5,
.ratio6-6,
.ratio7-7,
.ratio8-8,
.ratio9-9,
.ratio10-10{ width: 100%;}

.ratio1-2,
.ratio2-4,
.ratio3-6,
.ratio4-8,
.ratio5-10{ width: calc(100% / 2);}

.ratio1-3,
.ratio2-6,
.ratio3-9,
.ratio3-10{ width: calc(100% / 3);}

.ratio2-3,
.ratio4-6,
.ratio6-9{ width: calc(100% / (3 / 2));}

.ratio1-4,
.ratio2-8{ width: calc(100% / 4);}

.ratio3-4,
.ratio6-8{ width: calc(100% / (4 / 3));}

.ratio1-5,
.ratio2-10{ width: calc(100% / 5);}

.ratio2-5,
.ratio4-10{ width: calc(100% / (5 / 2));}

.ratio3-5,
.ratio6-10{ width: calc(100% / (5 / 3));}

.ratio4-5,
.ratio8-10{ width: calc(100% / (5 / 4));}

.ratio1-6{ width: calc(100% / 6);}
.ratio5-6{ width: calc(100% / (6 / 5));}

.ratio1-7{ width: calc(100% / 7);}
.ratio2-7{ width: calc(100% / (7 / 2));}
.ratio3-7{ width: calc(100% / (7 / 3));}
.ratio4-7{ width: calc(100% / (7 / 4));}
.ratio5-7{ width: calc(100% / (7 / 5));}
.ratio6-7{ width: calc(100% / (7 / 6));}

.ratio1-8{ width: calc(100% / 8);}
.ratio3-8{ width: calc(100% / (8 / 3));}
.ratio5-8{ width: calc(100% / (8 / 5));}
.ratio7-8{ width: calc(100% / (8 / 7));}

.ratio1-9{ width: calc(100% / 9);}
.ratio2-9{ width: calc(100% / (9 / 2));}
.ratio4-9{ width: calc(100% / (9 / 4));}
.ratio5-9{ width: calc(100% / (9 / 5));}
.ratio7-9{ width: calc(100% / (9 / 7));}
.ratio8-9{ width: calc(100% / (9 / 8));}

.ratio1-10{ width: calc(100% / 10);}
.ratio7-10{ width: calc(100% / (10 / 7));}
.ratio9-10{ width: calc(100% / (10 / 9));}
