/* Flex */
.flex { display: flex;}

.flex-column  {flex-direction: column;}
.flex-wrap    {flex-wrap: wrap;}

.align-center   {align-items: center;}
.align-baseline {align-items: baseline;}
.align-stretch  {align-items: stretch;}
.align-start    {align-items: flex-start;}
.align-end      {align-items: flex-end;}

.align-justify  {justify-content: space-between;}

.order-first { order: -1;}
.order-last  {order: 1024;}

.flex-auto {flex: 1 1 auto;}
.flex-grow {flex: 1 0 auto;}
.flex-none {flex: none;}

.flex > div { box-sizing: border-box }

@media (min-width: 40em) {
  .sm-flex { display: flex;}
  .sm-flex > div { box-sizing: border-box }
}
@media (min-width: 52em) {
  .md-flex { display: flex;}
  .md-flex > div { box-sizing: border-box }
}
@media (min-width: 64em) {
  .lg-flex { display: flex }
  .lg-flex > div { box-sizing: border-box;}
}
